<section class="tab tab-details" data-group="primary" data-tab="tab-details">
	<div class="grid-3-columns">
		<div class="item-grid">
			<h3>{{localize 'SHADOWDARK.item.npc_attack_count'}}</h3>
			<input
				name="system.attack.num"
				type="text"
				value="{{item.system.attack.num}}"
			/>

			<h3>{{localize 'SHADOWDARK.item.npc_attack_bonus'}}</h3>
			{{numberInput
				system.bonuses.attackBonus
				name="system.bonuses.attackBonus"
				placeholder="0"
			}}

			<h3>{{localize 'SHADOWDARK.app.npc_attack_ranges.title'}}</h3>
			<a
				class="properties-list"
				data-action="npc-attack-ranges"
			>
				{{npcAttackRangesDisplay}}
			</a>
		</div>
</section>
