<section class="tab tab-details" data-group="primary" data-tab="tab-details">
	{{!-- <div class="item-details"> --}}

		{{#ifEq item.type "Ancestry"}}
			{{> items/partials/ancestry }}
		{{/ifEq}}

		{{#ifEq item.type "Armor"}}
			{{> items/partials/armor }}
		{{/ifEq}}

		{{#ifEq item.type "Boon"}}
			{{> items/partials/boon }}
		{{/ifEq}}

		{{#ifEq item.type "Class Ability"}}
			{{> items/partials/class-ability }}
		{{/ifEq}}

		{{#ifEq item.type "Class"}}
			{{> items/partials/class }}
		{{/ifEq}}

		{{#ifEq item.type "Deity"}}
			{{> items/partials/deity }}
		{{/ifEq}}

		{{#ifEq item.type "Effect"}}
			{{> items/partials/effect }}
		{{/ifEq}}

		{{#ifEq item.type "Language"}}
			{{> items/partials/language }}
		{{/ifEq}}

		{{#ifEq item.type "NPC Attack"}}
			{{> items/partials/npc-attack }}
		{{/ifEq}}

		{{#ifEq item.type "Property"}}
			{{> items/partials/property }}
		{{/ifEq}}

		{{#ifEq item.type "Scroll"}}
			{{> items/partials/spell }}
		{{/ifEq}}

		{{#ifEq item.type "Spell"}}
			{{> items/partials/spell }}
		{{/ifEq}}

		{{#ifEq item.type "Talent"}}
			{{> items/partials/talent }}
		{{/ifEq}}

		{{#ifEq item.type "Wand"}}
			{{> items/partials/spell }}
		{{/ifEq}}

		{{#ifEq item.type "Weapon"}}
			{{> items/partials/weapon }}
		{{/ifEq}}

	<div class="item-details">

		{{#if usesSlots}}
			{{!-- Gems have non-configurable slot settings --}}
			{{#ifNeq item.type "Gem"}}
				{{> items/partials/slots }}
			{{/ifNeq}}
		{{/if}}

		{{#if hasCost}}
			{{> items/partials/cost }}
		{{/if}}

		<div class="item-toggles">

			{{#if item.system.canBeEquipped}}
				<div class="equipped">
					{{#if item.isOwned}}
						<label>{{localize 'SHADOWDARK.item.equipped'}}</label>
						<input type="checkbox" name="system.equipped" {{checked system.equipped}}>
					{{/if}}
				</div>
			{{/if}}

			{{#ifEq item.type "Basic"}}
				<div class="light-source">
					<label>{{localize 'SHADOWDARK.item.light.is_source'}}</label>
					<input
						type="checkbox"
						name="system.light.isSource"
						{{checked system.light.isSource}}
					>
				</div>
			{{/ifEq}}

			{{#if showMagicItemCheckbox}}
				{{#ifNeq item.type "Gem"}}
					<div class="magic-item">
						<label>{{localize "SHADOWDARK.item.magic_item.is_magic"}}</label>
						<input
							type="checkbox"
							name="system.magicItem"
							{{checked system.magicItem}}
						>
					</div>
				{{/ifNeq}}
			{{/if}}

			{{#ifEq item.type "Basic"}}
				{{> items/partials/treasure }}
			{{/ifEq}}

			{{#ifEq item.type "Effect"}}
				{{> items/partials/effect-toggle-items }}
			{{/ifEq}}

		</div>

	</div>
</section>
