<form class="{{cssClass}}" autocomplete="off">
	<div>
		<header class="item-header">
			<img
				src="{{item.img}}"
				data-edit="img"
				data-tooltip="{{item.name}}"
				height="64"
				width="64"
			/>
			<h1>
				<input
					class="item-name"
					name="name"
					type="text"
					value="{{item.name}}"
					placeholder="{{localize 'Name'}}"
				/>
			</h1>
		</header>
		<nav class="item-navigation" data-group="primary">
			<div class="item-navigation__flex">

				{{#if showTab.details}}
					<a class="item" data-tab="tab-details">
						{{localize "SHADOWDARK.sheet.item.tab.details"}}
					</a>
				{{/if}}

				{{#if showTab.titles}}
					<a class="item" data-tab="tab-titles">
						{{localize "SHADOWDARK.sheet.item.tab.titles"}}
					</a>
				{{/if}}

				{{#if showTab.effects}}
					<a class="item" data-tab="tab-effects">
						{{localize "SHADOWDARK.sheet.item.tab.effects"}}
					</a>
				{{/if}}

				{{#if showTab.light}}
					<a class="item" data-tab="tab-light">
						{{localize "SHADOWDARK.sheet.item.tab.light"}}
					</a>
				{{/if}}

				{{#if showTab.description}}
					<a
						class="item"
						data-tab="tab-description"
						{{#if showTab.descriptionOnly}}
							style="display: none;"
						{{/if}}
					>
						{{localize "SHADOWDARK.sheet.item.tab.description"}}
					</a>
				{{/if}}
			</div>
		</nav>
	</div>
	<hr />
	<section class="item-body">
		{{> items/tabs/description }}
		{{> items/tabs/details }}
		{{> items/tabs/effects }}
		{{> items/tabs/light }}
		{{> items/tabs/titles }}
	</section>
</form>
