<form class="{{cssClass}}" autocomplete="off">
	<header class="item-header">
		<img
			src="{{item.img}}"
			data-edit="img"
			title="{{item.name}}"
			height="64"
			width="64"
		/>
		<h1>
			<input
				class="item-name"
				name="name"
				type="text"
				value="{{item.name}}"
				placeholder="{{localize 'Name'}}"
			/>
		</h1>
	</header>
	<section class="item-body">

		{{#ifEq item.type "Armor"}}
			{{> items/partials/armor }}
		{{/ifEq}}

		{{#ifEq item.type "Spell"}}
			{{> items/partials/spell }}
		{{/ifEq}}

		{{#ifEq item.type "Weapon"}}
			{{> items/partials/weapon }}
		{{/ifEq}}

		{{#ifEq item.type "NPC Attack"}}
			{{> items/partials/npc-attack }}
		{{/ifEq}}

		{{> items/partials/description }}

		<div>
			<div class="item-sidebar">

				{{#ifEq item.type "Talent"}}
					{{> items/partials/talent }}
				{{/ifEq}}

				{{#if hasCost}}
					{{> items/partials/cost }}
				{{/if}}

				{{#if usesSlots}}
					{{!-- Gems have non-configurable slot settings --}}
					{{#ifNeq item.type "Gem"}}
						{{> items/partials/slots }}
					{{else}}
						<div></div>
					{{/ifNeq}}

					{{#if item.system.canBeEquipped}}
						{{> items/partials/equipped }}
					{{/if}}
				{{/if}}

				{{#ifEq item.type "Basic"}}
					{{> items/partials/treasure }}
				{{/ifEq}}

			</div>
		</div>
	</section>
</form>
