<section class="tab tab-background" data-group="primary" data-tab="tab-background">
	<div class="background-grid">
		<div class="background-details">
			<div class="grid-3-columns">
				{{>
					actors/partials/background-selector
					config=backgroundSelectors.ancestry
				}}
				{{>
					actors/partials/background-selector
					config=backgroundSelectors.class
				}}
				<div class="level-xp">
					<label>{{localize 'SHADOWDARK.sheet.actor.level'}}</label>
					{{numberInput
						system.level.value
						name="system.level.value"
						class="ability-score"
					}}
					<label>{{localize 'SHADOWDARK.sheet.player.xp'}}</label>
					<div class="xp-score">
						{{numberInput
							system.level.xp
							name="system.level.xp"
							class="ability-score"
							placeholder="0"
						}}
						<p>/</p>
						<p>{{xpNextLevel}}</p>
					</div>
				</div>
			</div>
			<div class="grid-2-columns">
				<div class="pc pc_title">
					<label>{{localize 'SHADOWDARK.sheet.player.title'}}</label>
					{{#if classTitle}}
						<div class="compendium-items flexrow">
							<div class="compendium-item flexrow">
								<a
									class="fake-uuid-link"
								>
									{{classTitle}}
								</a>
							</div>
						</div>
					{{else}}
						<input
							id="pc"
							type="text"
							value=""
							data-dtype="String"
							disabled="disabled"
						/>
					{{/if}}
				</div>
				<div class="detail-box">
					<label>{{localize 'SHADOWDARK.sheet.actor.alignment'}}</label>
					<select name="system.alignment">
						{{selectOptions config.ALIGNMENTS selected=system.alignment localize=false}}
					</select>
				</div>
			</div>
			<div class="grid-2-columns">
				{{>
					actors/partials/background-selector
					config=backgroundSelectors.background
				}}
				{{>
					actors/partials/background-selector
					config=backgroundSelectors.deity
				}}
			</div>
			<div class="grid-1-columns">
				<div class="pc pc_languages">
					<label>{{localize 'SHADOWDARK.sheet.player.languages'}}</label>
					<a
						class="item-selector"
						data-options="language"
						for="system.languages"
					>
						<i class="fa-solid fa-pen-to-square fa-sm"></i>
					</a>
					<ul class="tags">
						{{#each knownLanguages}}
							<li
								{{#ifEq this.system.rarity "common"}}
									class="tag tag_primary"
								{{else}}
									class="tag tag_secondary"
								{{/ifEq}}
								data-tooltip="{{this.system.description}}"
							>
								{{this.name}}
							</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
		{{> actors/player/background/boons}}
	</div>
</section>
