<section class="tab tab-background" data-group="primary" data-tab="tab-background">
<div class="grid-1-columns">

	<div class="background-grid-A">

		<!-- Level -->
		<div class="SD-box">
			<div class="header">
				<label>{{localize 'SHADOWDARK.sheet.actor.level'}}</label>
				<span>
				</span>
			</div>
			<div class="content centered">
				{{#unless levelUp}}
					{{system.level.value}}
				{{/unless}}
				{{#if levelUp}}
					<a class="fa-solid fa-arrow-up fa-beat" data-action="level-up"></a>
				{{/if}}
			</div>
		</div>

		<!-- Title -->
		<div class="SD-box">
			<div class="header">
				<label>{{localize 'SHADOWDARK.sheet.player.title'}}</label>
				<span>
				</span>
			</div>
			<div class="content">
				{{classTitle}}
			</div>
		</div>

		<!-- Class -->
		<div class="SD-box">
			<div class="header">
				<label>Class</label>
				<span>
					{{#if owner}}
						<a
							class="item-selector fas fa-pen-to-square edit-button"
							data-options="class"
							for="system.class">
						</a>
					{{/if}}
				</span>
			</div>
			<div class="content">
				<a class="content-link" data-uuid="{{system.class}}">{{uuidToName system.class}}</a>
			</div>
		</div>

		<!-- Ancestry -->
		<div class="SD-box">
			<div class="header">
				<label>Ancestry</label>
				<span>
					{{#if owner}}
						<a
							class="item-selector fas fa-pen-to-square edit-button"
							data-options="ancestry"
							for="system.ancestry">
						</a>
					{{/if}}
				</span>
			</div>
			<div class="content">
				<a class="content-link" data-uuid="{{system.ancestry}}">{{uuidToName system.ancestry}}</a>
			</div>
		</div>




	</div>

	<div class="background-grid-B">

		<!-- XP -->
		<div class="SD-box">
			<div class="header">
				<label>{{localize 'SHADOWDARK.sheet.player.xp'}}</label>
				<span>
				</span>
			</div>
			<div class="content">
				<div class="value-grid">
					{{numberInput
						system.level.xp
						name="system.level.xp"
						class="ability-score"
						placeholder="0"
					}}
					<div>/</div>
					<div>{{xpNextLevel}}</div>
				</div>
			</div>
		</div>

		<!-- Background -->
		<div class="SD-box">
			<div class="header">
				<label>Background</label>
				<span>
					{{#if owner}}
						<a
							class="item-selector fas fa-pen-to-square edit-button"
							data-options="background"
							for="system.background">
						</a>
					{{/if}}
				</span>
			</div>
			<div class="content">
				<a class="content-link" data-uuid="{{system.background}}">{{uuidToName system.background}}</a>
			</div>
		</div>

		<!-- Deity -->
		<div class="SD-box">
			<div class="header">
				<label>Deity</label>
				<span>
					{{#if owner}}
						<a
							class="item-selector fas fa-pen-to-square edit-button"
							data-options="deity"
							for="system.deity">
						</a>
					{{/if}}
				</span>
			</div>
			<div class="content">
				<a class="content-link" data-uuid="{{system.deity}}">{{uuidToName system.deity}}</a>
			</div>
		</div>

    </div>

	<div class="background-grid-C">
		<!-- Alignment -->
			<div class="SD-box">
				<div class="header">
					<label>{{localize 'SHADOWDARK.sheet.actor.alignment'}}</label>
					<span>
					</span>
				</div>
				<div class="content">
					<select name="system.alignment">
						{{selectOptions config.ALIGNMENTS selected=system.alignment localize=false}}
					</select>
				</div>
			</div>

		<!-- Languages -->
		<div class="SD-box">
			<div class="header">
				<label>{{localize 'SHADOWDARK.sheet.player.languages'}}</label>
				<span>
					{{#if owner}}
						<a
							class="item-selector fas fa-pen-to-square edit-button"
							data-options="language"
							for="system.languages">
						</a>
					{{/if}}
				</span>
			</div>
			<div class="content">
				<ul class="tags">
					{{#each knownLanguages}}
						<li
							{{#ifEq this.system.rarity "common"}}
								class="tag tag_primary"
							{{else}}
								class="tag tag_secondary"
							{{/ifEq}}
							data-tooltip="{{this.system.description}}"
						>
							{{this.name}}
						</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
</div>
	<br>
	<div class="SD-banner">Boons</div>
	{{> actors/player/background/boons}}
</section>
