<section class="details">
	<div class="detail-box">
		<label>{{localize 'SHADOWDARK.character.race'}}</label>
			<input
				name="system.race"
				type="text"
				class="detail-value"
				value="{{ system.race }}"
			/>
	</div>
	<div class="detail-box">
		<label>{{localize 'SHADOWDARK.character.class'}}</label>
			<input
				name="system.class"
				type="text"
				class="detail-value"
				value="{{ system.class }}"
			/>
	</div>
	<div class="detail-box">
		<label>{{localize 'SHADOWDARK.character.title'}}</label>
			<input
				name="system.title"
				type="text"
				class="detail-value"
				value="{{ system.title }}"
			/>
	</div>
	<div class="detail-box">
		<label>{{localize 'SHADOWDARK.character.alignment'}}</label>
			<input
				name="system.alignment"
				type="text"
				class="detail-value"
				value="{{ system.alignment }}"
			/>
	</div>
	<div class="detail-box">
		<label>{{localize 'SHADOWDARK.character.background'}}</label>
			<input
				name="system.background"
				type="text"
				class="detail-value"
				value="{{ system.background }}"
			/>
	</div>
	<div class="detail-box">
		<label>{{localize 'SHADOWDARK.character.deity'}}</label>
			<input
				name="system.deity"
				type="text"
				class="detail-value"
				value="{{ system.deity }}"
			/>
	</div>
</section>
