<section class="tab tab-inventory" data-group="primary" data-tab="tab-inventory">
	<div class="inventory-grid">
		<div>

			<!--Equipped Gear-->
			<div class="SD-banner">{{localize "SHADOWDARK.inventory.equipped_gear"}}</div>
				<ol class="SD-list item-list">
					<li class="header">
						<div class="item-name">Gear</div>
						<div class="quantity">Qty</div>
						<div class="slots">Slots</div>
						<div class="actions"></div>
					</li>

				{{#each inventory.equipped as |item|}}
					<li class="item" data-item-id="{{item._id}}" data-uuid="Actor.{{../actor._id}}.Item.{{item._id}}">
						<div class="item-image" style="background-image: url({{item.img}})">
							<i class="fas fa-comment fa-lg"></i>
						</div>
						<a class="item-name" data-action="show-details">
							{{item.name}}
						</a>
						<div class="quantity"></div>
						<div class="slots">{{item.slotsUsed}}</div>
						<div class="actions">
							<a
								data-action="toggle-equipped"
								data-item-id="{{item._id}}"
								data-tooltip="{{localize 'SHADOWDARK.inventory.tooltip.toggle_equipped'}}"
							>
								<i style="color:var(--primary);" class="fas fa-user-shield"></i>
							</a>
						</div>
					</li>
				{{/each}}
				</ol>

			<br>

			<!--Carried Gear-->
			<div class="SD-banner">{{localize "SHADOWDARK.inventory.carried_gear"}}</div>
				<ol class="SD-list item-list">
					<li class="header">
						<div class="item-name">
							<a
								class="fa-solid fa-square-plus"
								data-action="create-item"
							></a>
							Items
						</div>
						<div class="quantity">Qty</div>
						<div class="slots">Slots</div>
						<div class="actions"></div>
					</li>

				{{#each inventory.carried as |item|}}
					<li class="item" data-item-id="{{item._id}}" data-uuid="Actor.{{../actor._id}}.Item.{{item._id}}">
						<div class="item-image" style="background-image: url({{item.img}})">
							<i class="fas fa-comment fa-lg"></i>
						</div>
						<a class="item-name" data-action="show-details">
							{{item.name}}
						</a>
						<div class="quantity"></div>
						<div class="slots">{{item.slotsUsed}}</div>
						<div class="actions">
							{{#if item.system.canBeEquipped}}
								<a
									data-action="toggle-equipped"
									data-item-id="{{item._id}}"
									data-tooltip="{{localize 'SHADOWDARK.inventory.tooltip.toggle_equipped'}}"
								>
									<i class="fas fa-user-shield"></i>
								</a>
							{{/if}}
							{{#if item.system.light.isSource}}
								<a
									class="item-control item-toggle-light {{#if item.system.light.active}}lit{{/if}}"
									data-item-id="{{item._id}}"
									data-tooltip="{{localize 'SHADOWDARK.inventory.tooltip.toggle_light_source'}}"
								>
									<i class="fa-solid fa-fire-flame-curved"></i>
								</a>
							{{/if}}
							{{#ifEq item.type "Potion"}}
								<a
									class="item-control use-potion"
									data-action="use-potion"
									data-item-id="{{item._id}}"
									data-tooltip="{{localize 'SHADOWDARK.sheet.player.tooltip.use_potion'}}"
								>
									<i class="fas fa-prescription-bottle"></i>
								</a>
							{{/ifEq}}
							<a
								data-action="toggle-stashed"
								data-item-id="{{item._id}}"
								data-tooltip="{{localize 'SHADOWDARK.inventory.tooltip.toggle_stashed'}}"
							>
								<i class="fa-solid fa-box"></i>
							</a>
						</div>
					</li>
				{{/each}}
				</ol>
				<ol class="SD-list item-list">
					<li class="header">
						<div class="item-name">
							<a
								class="fa-solid fa-square-plus"
								data-action="create-treasure"
							></a>
							Treasure
						</div>
						<div class="quantity">Value</div>
						<div class="slots">Slots</div>
						<div class="actions"></div>
					</li>

				{{#each inventory.treasure as |item|}}
					<li class="item" data-item-id="{{item._id}}" data-uuid="Actor.{{../actor._id}}.Item.{{item._id}}">
						<div class="item-image" style="background-image: url({{item.img}})">
							<i class="fas fa-comment fa-lg"></i>
						</div>
						<a class="item-name" data-action="show-details">
							{{item.name}}
						</a>
						<div class="quantity"></div>
						<div class="slots">{{item.slotsUsed}}</div>
						<div class="actions"></div>
					</li>
				{{/each}}
				</ol>

			<br>

			<!--Stashed Gear-->
			<div class="SD-banner">{{localize "SHADOWDARK.inventory.stashed_gear"}}</div>
				<ol class="SD-list item-list">
					<li class="header">
						<div class="item-name">Stashed Item</div>
						<div class="quantity">Qty</div>
						<div class="slots">Slots</div>
						<div class="actions" style="flex: 0 0 30px">
						</div>
					</li>

				{{#each inventory.stashed as |item|}}
					<li class="item" data-item-id="{{item._id}}" data-uuid="Actor.{{../actor._id}}.Item.{{item._id}}">
						<div class="item-image" style="background-image: url({{item.img}})">
							<i class="fas fa-comment fa-lg"></i>
						</div>
						<a class="item-name" data-action="show-details">
							{{item.name}}
						</a>
						<div class="quantity"></div>
						<div class="slots">{{item.slotsUsed}}</div>
						<div class="actions" style="flex: 0 0 30px">
														<a
								data-action="toggle-stashed"
								data-item-id="{{item._id}}"
								data-tooltip="{{localize 'SHADOWDARK.inventory.tooltip.toggle_stashed'}}"
							>
								<i style="color:var(--primary)" class="fa-solid fa-box"></i>
							</a>
						</div>
					</li>
				{{/each}}
				</ol>
			<br>
		</div>
		<!--Sidebar-->
		<div>
			<div class="grid-1-columns">
				{{> actors/player/inventory/slots }}
				{{> actors/player/inventory/coins }}
				{{> actors/player/inventory/gems }}
			</div>
		</div>
	</div>
</section>
