<section class="tab tab-spells" data-group="primary" data-tab="tab-spells">
	<section class="spells-body">
		<div class="spells-list">
			<table>
				<tr>
					<th>
						<a
							class="item-control item-create"
							data-tooltip="{{localize 'SHADOWDARK.sheet.general.item_create.tooltip' type='Spell'}}"
							data-item-type="Spell"
						>
							<i class="fa-duotone fa-file-plus"></i>
						</a>
						{{localize "SHADOWDARK.sheet.player.available_spells"}}
					</th>
					<th>&nbsp;</th>
				</tr>
				{{#each spells as |tier tid|}}
					<tr class="spell-tier-header">
						<th class="spell-tier-header-padding">
							{{localize 'SHADOWDARK.sheet.player.spells_tier'}} {{tid}}
						</th>
						<th>&nbsp;</th>
					</tr>
					{{#each tier as |spell|}}
						<tr
							class="item"
							data-item-id="{{spell._id}}"
						>
							<td>
								<div
									class="item-image"
									style="background-image: url({{spell.img}})"
									data-item-id="{{spell._id}}"
								>
									<i class="fas fa-comment fa-lg"></i>
								</div>
								<a
									class="item-control show-details {{#if spell.system.lost}}strike-through{{/if}}"
									data-item-id="{{spell._id}}"
								>
									{{spell.name}}
								</a>
							</td>
							<td style="text-align: right; padding-right: 4px;">
								{{#unless spell.system.lost}}
									<a
										class="item-control cast-spell"
										data-action="cast-spell"
										data-item-id="{{spell._id}}"
										data-tooltip="{{localize 'SHADOWDARK.sheet.player.tooltip.cast_spell'}}"
									>
										<i class="fa-solid fa-wand-magic-sparkles"></i>
									</a>
								{{/unless}}
								<a
									class="item-control toggle-lost"
									data-item-id="{{spell._id}}"
									data-tooltip="{{localize "SHADOWDARK.sheet.player.toggle_spell_lost"}}"
								>
									{{#if spell.system.lost}}
										<i style="color:red;" class="fa-solid fa-xmark"></i>
									{{else}}
										<i style="color:green;" class="fa-solid fa-check"></i>
									{{/if}}
								</a>
							</td>
						</tr>
					{{/each}}
				{{/each}}
			</table>
		</div>
	</section>
</section>
