<section class="tab tab-talents" data-group="primary" data-tab="tab-talents">
	<section class="talents-body">
		<div class="talents-list">
			<table>
				<tr>
					<th>{{localize 'SHADOWDARK.sheet.player.talents_level'}}</th>
					<th>{{localize 'SHADOWDARK.sheet.player.talents_name'}}</th>
				</tr>
				{{#each talents as |talent|}}
					<tr class="item" data-item-id="{{talent._id}}">
						<td>{{talent.system.level}}</td>
						<td>
							<a
								class="item-control open-item"
								data-item-id="{{talent._id}}"
							>
								{{talent.name}}
							</a>
						</td>
					</tr>
				{{/each}}
			</table>
		</div>
	</section>
</section>
