<section class="tab tab-talents" data-group="primary" data-tab="tab-talents">

	<!-- Ancestry and class -->
	{{#> ui/sd-hideable-section
		sectionId=""
		sectionTitle=(concat
			(localize "SHADOWDARK.talent.class.ancestry")
			" & "
			(localize "SHADOWDARK.talent.class.class")
		)
	}}
		<ol class="SD-list">
			<li class="header">
				<div class="item-name">
					{{localize "SHADOWDARK.item_type.talent"}}
				</div>
				<div class="flex-100-px">
					{{localize "SHADOWDARK.sheet.player.inventory.type.label"}}
				</div>
			</li>

			{{#each talents.ancestry.items}}
				<li class="item"
					data-item-id="{{this._id}}"
					data-uuid="Actor.{{../actor._id}}.Item.{{this._id}}"
				>
					<div
						class="item-image"
						style="background-image: url({{this.img}})"
					>
						<i class="fas fa-comment fa-lg"></i>
					</div>
					<a class="item-name" data-action="show-details">
						{{this.name}}
					</a>
					<div class="flex-100-px">
						{{localize "SHADOWDARK.talent.class.ancestry"}}
					</div>
				</li>
			{{/each}}

			{{#each talents.class.items}}
				<li class="item"
					data-item-id="{{this._id}}"
					data-uuid="Actor.{{../actor._id}}.Item.{{this._id}}"
				>
					<div
						class="item-image"
						style="background-image: url({{this.img}})"
					>
						<i class="fas fa-comment fa-lg"></i>
					</div>
					<a class="item-name" data-action="show-details">
						{{this.name}}
					</a>
					<div class="flex-100-px">
						{{localize "SHADOWDARK.talent.class.class"}}
					</div>
				</li>
			{{/each}}
		</ol>
	{{/ui/sd-hideable-section}}

	<br>

	<!-- Level Talents -->
	{{#> ui/sd-hideable-section
		sectionId=""
		sectionTitle=(localize "SHADOWDARK.item.level")
	}}
	<ol class="SD-list">
		<li class="header">
			<div class="item-name">
				{{localize "SHADOWDARK.item_type.talent"}}
			</div>
			<div class="flex-100-px">
				{{localize "SHADOWDARK.talent.level_gained"}}
			</div>
		</li>
		{{#each talents.level.items}}
			<li class="item"
				data-item-id="{{this._id}}"
				data-uuid="Actor.{{../actor._id}}.Item.{{this._id}}"
			>
				<div
					class="item-image"
					style="background-image: url({{this.img}})"
				>
					<i class="fas fa-comment fa-lg"></i>
				</div>
				<a class="item-name" data-action="show-details">
					{{this.name}}
					{{#ifEq this.system.talentClass "patronBoon"}}
						<i
							class="fa-solid fa-eye-evil"
							data-tooltip="{{localize 'SHADOWDARK.talent.class.patronBoon'}}"
						></i>
					{{/ifEq}}
				</a>
				<div class="flex-100-px">
					{{this.system.level}}
				</div>
			</li>
		{{/each}}
	</ol>
	{{/ui/sd-hideable-section}}

</section>
