<div class="flexrow">

    <div class="flex1">
        <b>
			{{localize "SHADOWDARK.apps.character-generator.choose"}}
			{{value.select}}
			{{label}}:
		</b>
		<br>
        {{#each value.selected}}
            <a
				data-action="select-language"
				data-key="{{../key}}"
				data-uuid="{{.}}"
			>
                {{lookup ../languages .}}
            </a>
			{{#unless @last}}
				<br>
			{{/unless}}
        {{/each}}
    </div>

    <div
		class="flex2"
		{{#if value.full}}
			style="color:grey;"
		{{/if}}
	>
        {{#each value.unselected}}
            {{#unless ../value.full}}
                <a
					data-action="select-language"
					data-key="{{../key}}"
					data-uuid="{{.}}"
				>
            {{/unless}}
                {{lookup ../languages .}}{{#unless @last}}, {{/unless}}
            {{#unless ../value.full}}
                </a>
            {{/unless}}
        {{/each}}
    </div>

</div>
