<li class="item" data-effect-id="{{effect.id}}">
	<div class="item-image">
		<img src="{{activeEffectIcon effect}}">
	</div>

	<div class="item-name">
		{{#unless effect.name}}
			{{effect.label}}
		{{else}}
			{{effect.name}}
		{{/unless}}
	</div>

	<div class="effect-list-changes">
		{{#each effect.changes as |change|}}
			<span title="{{fromConfig "EFFECT_TRANSLATIONS" change.key}}">
				{{fromConfig "EFFECT_TRANSLATIONS" change.key}}
			</span>
			<input
				id="effect-change-value"
				name="{{change.key}}"
				placeholder="0"
				type="text"
				value="{{change.value}}"
			>
		{{/each}}
	</div>

	<div class="actions">
		<a
			class="fas fa-circle-{{#if effect.disabled}}xmark{{else}}check{{/if}}"
			data-action="effect-activate"
			data-tooltip="{{localize "SHADOWDARK.effect.header.toggle_active"}}"
			{{#unless effect.disabled}}
				style="color:var(--primary);"
			{{/unless}}
		></a>
		<a
			class="fas fa-edit"
			data-action="effect-edit"
			data-tooltip="{{localize "SHADOWDARK.effect.header.edit"}}"
		></a>
		<a
			class="fas fa-trash"
			data-action="effect-delete"
			data-tooltip="{{localize "SHADOWDARK.effect.header.delete"}}"
		></a>
	</div>

</li>
