<div class="dice-roll" data-action="expandRoll">
    {{#if flavor}}<div class="dice-flavor">{{flavor}}</div>{{/if}}
    <div class="dice-result {{success}}">
		<h4 class="dice-total">{{total}}</h4>
		<div class="dice-text {{#if damage}}dice-damage{{/if}}">
			{{#if successLabel}}<div class="dice-success">{{successLabel}}</div>{{/if}}
			<div class="dice-formula {{#if successLabel}}small{{/if}}">
				{{formula}} {{#if options.modified}}<i class="fas fa-asterisk"></i>{{/if}}
			</div>
			{{#if damage}}
			<a class="apply-damage" data-action="apply-damage" data-target="selected"></a>
			{{/if}}
		</div>
    </div>
	{{{tooltip}}}
</div>
