<div class="SD-box">
	<div class="header">
		<label>{{localize 'SHADOWDARK.sheet.player.melee_attacks'}}</label>
		<span></span>
	</div>
	<div class="content">
		{{#each attacks.melee as |attack|}}
			<div>
				<a
					class="rollable"
					data-action="item-attack"
					data-item-id="{{attack.itemId}}"
					data-attack-type="melee"
				>
					<i class="fa-solid fa-dice-d20"></i>
					{{{attack.display}}}
				</a>
			</div>
		{{/each}}
	</div>
</div>

<div class="SD-box">
	<div class="header">
		<label>{{localize 'SHADOWDARK.sheet.player.ranged_attacks'}}</label>
		<span></span>
	</div>
	<div class="content">
		{{#each attacks.ranged as |attack|}}
			<div>
				<a
					class="rollable"
					data-action="item-attack"
					data-item-id="{{attack.itemId}}"
					data-attack-type="ranged"
				>
					<i class="fa-solid fa-dice-d20"></i>
					{{{attack.display}}}
				</a>
			</div>
		{{/each}}
	</div>
</div>

