<div class="SD-box grid-colspan-2">
	<div class="header">
		<label>{{localize 'SHADOWDARK.sheet.actor.hp'}}</label>
		<span>
			{{#if owner}}
				<a
					{{#if editingHp}}
						class="item-selector fas fa-square-xmark edit-button"
					{{else}}
						class="item-selector fas fa-pen-to-square edit-button"
					{{/if}}
					data-action="toggle-edit-hp"
					data-tooltip="{{localize 'SHADOWDARK.sheet.player.toggle_edit_hp'}}"
				></a>
			{{/if}}
		</span>
	</div>
	<div class="content larger">
		<div class="value-grid">
			{{numberInput
				actor.system.attributes.hp.value
				name="system.attributes.hp.value"
				placeholder="0"
			}}
			<div>/</div>
			<div>
				{{#if editingHp}}
					{{numberInput
						maxHp
						name="system.attributes.hp.max"
						placeholder="0"
					}}
				{{/if}}
				{{#unless editingHp}}
					{{maxHp}}
				{{/unless}}
			</div>
		</div>
	</div>
</div>
