<b style="font-size:16px">{{this.item.name}}</b>
({{this.attack.range}})
{{this.mainRoll.bonus}}
({{this.damageRoll.formula}})
<div style="font-size: 12px;">
	{{this.attack.handedness}},
	{{this.item.system.propertyNames}}
</div>
