<section class="tab tab-details" data-group="primary" data-tab="tab-details">
	<div class="grid-3-columns">
		<div class="item-grid">
			<h3>
				{{localize "SHADOWDARK.class-ability.dc.label"}}
			</h3>
			{{numberInput
				system.dc
				name="system.dc"
				class="spell-dc-value"
				placeholder="10"
			}}

			<h3>{{localize 'SHADOWDARK.item.spell_duration'}}</h3>
			{{> items/_partials/duration
				base="system.duration"
				duration=system.duration
				type="spell"
				choices=config.SPELL_DURATIONS
				variableDuration=variableDuration
			}}

			<h3>{{localize 'SHADOWDARK.item.spell_range'}}</h3>
			<select name="system.range">
				<option value="">&mdash;</option>
				{{selectOptions
					config.SPELL_RANGES
					selected=system.range
					localize=false
				}}
			</select>
		</div>
	</div>
</section>
