<div class="SD-box">
	<div class="header">
		<label>{{localize 'SHADOWDARK.inventory.coins'}}</label>
		<span></span>
	</div>
	<div class="content">
		<div class="grid-2-columns">
			{{numberInput
				actor.system.coins.gp
				name="system.coins.gp"
				class="coin-value"
				placeholder="0"
			}}
			<h2>{{localize 'SHADOWDARK.coins.gp'}}</h2>

			{{numberInput
				actor.system.coins.sp
				name="system.coins.sp"
				class="coin-value"
				placeholder="0"
			}}
			<h2>{{localize 'SHADOWDARK.coins.sp'}}</h2>

			{{numberInput
				actor.system.coins.cp
				name="system.coins.cp"
				class="coin-value"
				placeholder="0"
			}}
			<h2>{{localize 'SHADOWDARK.coins.cp'}}</h2>
		</div>
	</div>
</div>
