<div class="SD-box">
	<div class="header">
		<label>{{localize 'SHADOWDARK.inventory.slots'}}</label>
		<span></span>
	</div>
	<div class="content">
		<div class="value-grid larger">
			<div {{#ifCond slots.total '>' gearSlots}}style="color: red;"{{/ifCond}}>
				{{slots.total}}
			</div>
			<div>/</div>
			<div>{{gearSlots}}</div>
		</div>
		<hr>
		<div class="slot-grid">
			<div style="text-align: right">{{slots.gear}}</div>
			{{localize "SHADOWDARK.inventory.gear"}}
			<div style="text-align: right">{{slots.treasure}}</div>
			{{localize "SHADOWDARK.inventory.section.treasure"}}
			<div style="text-align: right">{{slots.coins}}</div>
			{{localize "SHADOWDARK.inventory.coins"}}
			<div style="text-align: right">{{slots.gems}}</div>
			{{localize "SHADOWDARK.inventory.gems"}}
		</div>
	</div>
</div>
