<a class="rollable"
	data-action="{{#if attackBonus}}item-attack{{else}}item-use-ability{{/if}}"
	data-item-id="{{itemId}}"
>
	<i class="fas {{#if attackBonus}}fa-dice-d20{{else}}fa-comment{{/if}}"></i>
	<b style="font-size:16px">
		{{{numAttacks}}} {{attackName}}
	</b>
	{{#if ranges}}
		{{#if attackBonus}}
			({{ranges}})
			+{{attackBonus}}.
		{{else}}
			({{ranges}}).
		{{/if}}
	{{else}}
		{{#if attackBonus}}
			+{{attackBonus}}.
		{{/if}}
	{{/if}}
</a>
{{{description}}}

