<div class="npc-features">
	<label class="npc-label">
		{{localize 'SHADOWDARK.sheet.npc.features_label'}}
		<span class="item-controls">
			<a
				class="item-control item-create"
				data-tooltip="{{localize 'SHADOWDARK.sheet.general.item_create.tooltip' type='NPC Feature'}}"
				data-item-type="NPC Feature"
			>
				<i class="fa-duotone fa-square-plus"></i>
			</a>
		</span>
	</label>
	<ol>
		{{#each features as |feature|}}
			<li>
				<a
					class="item npc-feature"
					data-action="item-use-ability"
					data-item-id="{{feature.itemId}}"
				>
				<b>{{feature.name}}
				<i class="fas fa-comment fa-lg"></i>
				.
				</b>

				</a>
				{{{feature.description}}}
			</li>
		{{/each}}
	</ol>
</div>
