<div id="{{type}}-duration" class="SD-grid left">
	{{#if variableDuration}}
		<input
			class="{{type}}-duration-value"
			name="{{base}}.value"
			type="text"
			value="{{duration.value}}"
		/>
	{{else}}
		<input
			data-dtype="Number"
			name="{{base}}.value"
			type="hidden"
			value="1"
		/>
	{{/if}}
	<select
		name="{{base}}.type"
		{{#unless variableDuration}}
			style="grid-column: span 2;"
		{{/unless}}
	>
		<option value="">&mdash;</option>
		{{selectOptions
			choices
			selected=duration.type
			localize=false
		}}
	</select>
</div>
