<divclass="shadowdark chat-card">
	{{#if mainRoll.html}}
		<h3>{{mainRoll.label}}</h3>
		{{{mainRoll.html}}}
	{{/if}}

	{{#if item}}
		<img src="{{item.img}}" style="width:20px;height:20px;display:inline">
		<span>{{item.name}}</span>
	{{/if}}

	{{#if damageRoll.html}}
		<h3>{{damageRoll.label}}</h3>
		<div>{{{damageRoll.html}}}</div>
	{{else}}
		{{#if damageRoll.needed}}
			<div data-action="expandRoll">
				<button data-action="rollDamage">
					Roll Damage
				</button>
			</div>
		{{/if}}
	{{/if}}

	{{#if target}}
	<div class="target">
		<img src="{{target.texture.src}}" style="width:20px;height:20px;display:inline">
		<span>{{target.name}}</span>
	{{/if}}
</div>
