<divclass="shadowdark chat-card">
	{{#if mainRoll.html}}
		{{{mainRoll.html}}}
	{{/if}}

	{{#if item}}
		<div class="item-wrapper">
			<a data-link data-uuid="{{item.uuid}}">
				<img class="item-image" src="{{item.img}}">
			</a>
			<div class="item-text-wrapper">
				<span class="item-name">{{item.name}}
					{{#if ammunitionName}}
						- {{ammunitionName}}
					{{/if}}
				</span>
				<span class="item-subtext">{{item.system.subtext}}</span>
			</div>
		</div>
	{{/if}}

	{{#each descriptions}}
		{{{this}}}
	{{/each}}

	{{#if damageRoll.html}}
		{{{damageRoll.html}}}
	{{else}}
		{{#if damageRoll.needed}}
			<div data-action="expandRoll">
				<button data-action="rollDamage">
					Roll Damage
				</button>
			</div>
		{{/if}}
	{{/if}}

	{{#if target}}
	<div class="target-wrapper">
		<a data-link data-uuid="{{target.actor.uuid}}">
			<img src="{{target.texture.src}}" style="width:20px;height:20px;display:inline">
		</a>
		<span>{{target.name}}</span>
	</div>
	{{/if}}
</div>
