<div
	class="shadowdark chat-card roll-card"
	data-actor-id="{{actor.id}}"
	{{#if tokenId}}
		data-token-id="{{tokenId}}"
	{{/if}}
>
	<header class="card-header flexrow">
		<h3 class="roll-name">{{heading}}</h3>
	</header>
	{{#if check.HTML}}
		<div>{{{check.HTML}}}</div>
	{{/if}}
	{{#if damage.HTML}}
		<h3>{{localize "SHADOWDARK.roll.damage"}}</h3>
		<div>{{{damage.HTML}}}</div>
	{{/if}}
</div>
