<div class="shadowdark chat-card welcome-message">
	<div class="message-content">
		<div>
			<div class="shadowdark-logo">
				<span>ShadowDark</span>
			</div>
			<p>{{localize "SHADOWDARK.chat.welcome_message.title_text"}}</p>
		</div>
		<div>
			<h3>{{localize "SHADOWDARK.chat.welcome_message.watch"}}</h3>
			<a href="https://www.youtube.com/watch?v=hoBxiK71DBQ&list=PLpf8dHUKN9f0of47XUk6V3dt3McRWYkcU">
				<img src="https://img.youtube.com/vi/hoBxiK71DBQ/maxresdefault.jpg">
			</a>
		</div>
		<div>
			<h3>{{localize "SHADOWDARK.chat.welcome_message.issues"}}</h3>
			<p>{{localize "SHADOWDARK.chat.welcome_message.issues_text"}}</p>
			<button class="shadowdark-issue-tracker">
				<i class="fa-brands fa-github"></i>
				{{localize "SHADOWDARK.chat.welcome_message.issues_button"}}
			</button>
		</div>
		<div>
			<h3>{{localize "SHADOWDARK.chat.welcome_message.arcane_library"}}</h3>
			<p>{{localize "SHADOWDARK.chat.welcome_message.arcane_library_text"}}</p>
			<button class="shadowdark-arcane-library">
				<i class="fas fa-cart-shopping"></i>
				{{localize "SHADOWDARK.chat.welcome_message.arcane_library_button"}}
			</button>
		</div>
		<div></div>
	</div>
</div>
