<div class="shadowdark chat-card welcome-message">
	<header class="card-header flexrow">
		<img src="{{logo}}" data-tooltip="{{title}}"/>
		<h3 class="title">{{title}}</h3>
	</header>
	<div class="message-content">
		<p>{{localize "SHADOWDARK.chat.welcome_message.intro"}}</p>
		<button class="shadowdark-tours">
			<i class="fas fa-person-hiking"></i>
			{{localize "SHADOWDARK.chat.welcome_message.tour_button"}}
		</button>
		<p>{{localize "SHADOWDARK.chat.welcome_message.issues"}}</p>
		<button class="shadowdark-issue-tracker">
			<i class="fas fa-hands-helping"></i>
			{{localize "SHADOWDARK.chat.welcome_message.issue_tracker_button"}}
		</button>
	</div>
</div>
