<!-- Boons -->
<div>
	<div class="SD-banner">
		{{localize "SHADOWDARK.sheet.player.boons.label"}}
	</div>
	<ol class="SD-list">
		<li class="header">
			<div class="item-name">
				<a
					class="fa-solid fa-square-plus"
					data-action="create-boon"
					style="margin:0px 8px 0px 4px"
				></a>
				{{localize "SHADOWDARK.sheet.player.boon.label"}}
			</div>
			<div class="flex-100-px">
				{{localize "SHADOWDARK.boon.type.label"}}
			</div>
			<div class="flex-100-px">
				{{localize "SHADOWDARK.talent.level_gained"}}
			</div>
		</li>

		{{#each boons as |boonType|}}
			{{#each boonType.items as |boon|}}
				<li
					class="item"
					data-item-id="{{boon._id}}"
					data-uuid="Actor.{{../../actor._id}}.Item.{{boon._id}}"
				>
					<div
						class="item-image"
						style="background-image: url({{boon.img}})"
					>
						<i class="fas fa-comment fa-lg"></i>
					</div>

					<a
						class="item-name"
						data-action="show-details"
					>
						{{boon.name}}
					</a>

					<div class="flex-100-px">
						{{boonType.label}}
					</div>

					<div class="flex-100-px">
						{{#ifCond boon.system.level ">" 0}}
							{{boon.system.level}}
						{{/ifCond}}
					</div>
				</li>
			{{/each}}
		{{/each}}
	</ol>
</div>
