<div class="SD-box">
	<div class="header">
		<label>
			{{localize "SHADOWDARK.apps.level-up.hit_points"}}
		</label>
		<span>
			{{class.system.hitPoints}}
			{{#if rolls.hp}}
				<a class="fas fa-dice" data-action="re-roll-hp"></a>
			{{/if}}
		</span>
	</div>

	<div class="content hit-points">
		{{#if rolls.hp}}
			{{rolls.hp}}
			{{#ifEq targetLevel 1}}
				<span style="font-size:0.7em">
					({{numberFormat actor.system.abilities.con.mod
						decimals=0
						sign=true
					}})
				</span>
			{{/ifEq}}
		{{/if}}
		{{#unless rolls.hp}}
			<button type="button" data-action="roll-hp">
				{{localize "SHADOWDARK.sheet.general.roll_hp"}}
			</button>
		{{/unless}}
		{{#if hp.tooltips}}
			<div style="font-size:12px;text-align:left;margin:4px">{{hp.tooltips}}</span>
		{{/if}}
	</div>
</div>
