<ol class="SD-list">
	<li class="header">
		<div class="item-name">Boon</div>
		<div class="duration">Type</div>
	</li>

	{{#each boons as |boonType|}}
		{{#each boonType.items as |boon|}}
			<li class="item" data-item-id="{{boon._id}}" data-uuid="Actor.{{../../boon._id}}.Item.{{boon._id}}">
				<div class="item-image" style="background-image: url({{boon.img}})"></div>
				<a class="item-name" data-action="show-details">
					{{boon.name}}
				</a>
				<div class="duration">
					{{boonType.label}}
				</div>
			</li>
		{{/each}}
	{{/each}}
</ol>
