<div class="SD-box {{class}}">
	<div class="header {{header-class}}">
		<label>{{header-label}}</label>
		<span>{{header-span}}</span>
	</div>
	<div class="content {{content-class}}">
		{{> @partial-block }}
	</div>
</div>
