<form class="{{cssClass}} flexcol" autocomplete="off">
	<header class="SD-header flex0">
		<img
			class="portrait"
			src="{{ actor.img }}"
			data-edit="img"
			data-tooltip="{{ actor.name }}"
			height="110"
			width="110"
		/>
		<div class="shadowdark-logo">
			<span>ShadowDark</span>
		</div>
		<div class="SD-title">
			<input
				name="name"
				type="text"
				value="{{ actor.name }}"
				placeholder="{{localize 'SHADOWDARK.sheet.actor.placeholder.name'}}"
			/>
		</div>
	</header>

	<nav class="SD-nav flex0" data-group="primary">
		<a class="navigation-tab active" data-tab="tab-abilities">
			{{localize "SHADOWDARK.sheet.npc.tab.abilities"}}
		</a>

		<a class="navigation-tab" data-tab="tab-spells">
			{{localize "SHADOWDARK.sheet.npc.tab.spells"}}
		</a>

		<a class="navigation-tab" data-tab="tab-description">
			{{localize "SHADOWDARK.sheet.npc.tab.description"}}
		</a>

		<a class="navigation-tab" data-tab="tab-effects">
			{{localize "SHADOWDARK.sheet.item.tab.effects"}}
		</a>
	</nav>

	<section class="SD-content-body flex1">

		{{> actors/npc/abilities }}
		{{> actors/npc/spells }}
		{{> actors/_partials/effects }}
		{{> actors/npc/description }}

	</section>
</form>
