<form class="{{cssClass}}" autocomplete="off">
	<header class="player-header">
		<img
			class="portrait"
			src="{{ actor.img }}"
			data-edit="img"
			title="{{ actor.name }}"
			height="110"
			width="110"
		/>
		<div class="title">
			<span class="title__prefix">Shadow</span><span class="title__suffix">Dark</span>
		</div>
		<h1 class="player-name">
			<input
				name="name"
				type="text"
				value="{{ actor.name }}"
				placeholder="{{localize 'SHADOWDARK.character.name'}}"
			/>
		</h1>
	</header>
	<hr />
	<section class="player-body">
		{{> systems/shadowdark/templates/actors/player/abilities.hbs}}
		{{> systems/shadowdark/templates/actors/player/details.hbs}}
	</section>
</form>
