<form class="{{cssClass}} flexcol" autocomplete="off">
	<header class="SD-header flex0">
		<img
			class="portrait"
			src="{{ actor.img }}"
			data-edit="img"
			data-tooltip="{{ actor.name }}"
			height="110"
			width="110"
		/>
		<div class="shadowdark-logo">
			<span>ShadowDark</span>
		</div>
		<div class="SD-title">
			<input
				name="name"
				type="text"
				value="{{ actor.name }}"
				placeholder="{{localize 'SHADOWDARK.sheet.actor.placeholder.name'}}"
			/>
		</div>
	</header>

	<nav class="SD-nav flex0" data-group="primary">

		<a class="navigation-tab" data-tab="tab-details">
			{{localize "SHADOWDARK.sheet.player.tab.details"}}
		</a>

		<a class="navigation-tab active" data-tab="tab-abilities">
			{{localize "SHADOWDARK.sheet.player.tab.abilities"}}
		</a>

		{{#if showSpellsTab}}
			<a class="navigation-tab" data-tab="tab-spells">
				{{localize "SHADOWDARK.sheet.player.tab.spells"}}
			</a>
		{{/if}}

		<a class="navigation-tab" data-tab="tab-inventory">
			{{localize "SHADOWDARK.sheet.player.tab.inventory"}}
		</a>

		<a class="navigation-tab" data-tab="tab-talents">
			{{localize "SHADOWDARK.sheet.player.tab.talents"}}
		</a>



		<a class="navigation-tab" data-tab="tab-notes">
			{{localize "SHADOWDARK.sheet.player.tab.notes"}}
		</a>

		<a class="navigation-tab" data-tab="tab-effects">
			{{localize "SHADOWDARK.sheet.item.tab.effects"}}
		</a>

	</nav>

	<section class="SD-content-body flex1">
		{{> actors/player/details }}
		{{> actors/player/abilities }}
		{{> actors/player/spells }}
		{{> actors/player/talents }}
		{{> actors/player/inventory }}
		{{> actors/partials/effects }}
		{{> actors/player/notes }}
	</section>
</form>
