<form class="{{cssClass}}" autocomplete="off">
	<div>
		<header class="player-header">
			<img
				class="portrait"
				src="{{ actor.img }}"
				data-edit="img"
				data-tooltip="{{ actor.name }}"
				height="110"
				width="110"
			/>
			<div class="title">
				<span class="title__prefix">Shadow</span><span class="title__suffix">Dark</span>
			</div>
			<h1>
				<input
					class="player-name"
					name="name"
					type="text"
					value="{{ actor.name }}"
					placeholder="{{localize 'SHADOWDARK.sheet.actor.placeholder.name'}}"
				/>
			</h1>
		</header>

		<nav class="player-navigation" data-group="primary">
			<div class="player-navigation__flex">

				<a class="item active" data-tab="tab-abilities">
					{{localize "SHADOWDARK.sheet.player.tab.abilities"}}
				</a>

				{{#if showSpellsTab}}
					<a class="item" data-tab="tab-spells">
						{{localize "SHADOWDARK.sheet.player.tab.spells"}}
					</a>
				{{/if}}

				<a class="item" data-tab="tab-inventory">
					{{localize "SHADOWDARK.sheet.player.tab.inventory"}}
				</a>

				<a class="item" data-tab="tab-talents">
					{{localize "SHADOWDARK.sheet.player.tab.talents"}}
				</a>

				<a class="item" data-tab="tab-background">
					{{localize "SHADOWDARK.sheet.player.tab.background"}}
				</a>

			</div>
		</nav>
	</div>
	<hr	/>
	<section class="player-body">
		{{> actors/player/abilities }}
		{{> actors/player/spells }}
		{{> actors/player/talents }}
		{{> actors/player/inventory }}
		{{> actors/player/background }}
	</section>
</form>
