<form autocomplete="off" class="shadowdark item">
	<div class="grid-2-columns" style="margin:8px">
		<h3>{{localize "SHADOWDARK.item.treasure_name"}}:</h3>
		<input type="text" id="item-name">

		<h3>{{localize "SHADOWDARK.item.treasure_value"}}:</h3>
		<div class="item-grid left">
			<input type="number" id="item-gp" placeholder=0>
			<h3>{{localize 'SHADOWDARK.coins.gp'}}</h3>

			<input type="number" id="item-sp" placeholder=0>
			<h3>{{localize 'SHADOWDARK.coins.sp'}}</h3>

			<input type="number" id="item-cp" placeholder=0>
			<h3>{{localize 'SHADOWDARK.coins.cp'}}</h3>
		</div>
	</div>
</form>
