<form autocomplete="off" class="shadowdark">
	<div class="grid-2-columns" style="margin:8px">
		<h3>{{localize "SHADOWDARK.item.name"}}:</h3>
		<input type="text" id="item-name">

		<h3>{{localize "SHADOWDARK.item.type"}}:</h3>
		<select id="item-type">
			<option value="Basic" selected="selected">{{localize "SHADOWDARK.item_type.basic"}}</option>
			<option value="Armor">{{localize "SHADOWDARK.item_type.armor"}}</option>
			<option value="Potion">{{localize "SHADOWDARK.item_type.potion"}}</option>
			<option value="Weapon">{{localize "SHADOWDARK.item_type.weapon"}}</option>
		</select>
	</div>
</form>
