<form autocomplete="off" class="shadowdark">
	<div class="grid-2-columns" style="margin:8px">
		<h3>{{localize "SHADOWDARK.sheet.player.boons.name"}}:</h3>
		<input type="text" id="item-name">

		<h3>{{localize "SHADOWDARK.boon.type.label"}}:</h3>
		<select id="item-boonType">
			<option value="blessing" selected="selected">{{localize "SHADOWDARK.boons.blessing"}}</option>
			<option value="oath">{{localize "SHADOWDARK.boons.oath"}}</option>
			<option value="secret">{{localize "SHADOWDARK.boons.secret"}}</option>
		</select>

	</div>
</form>
