<form>
	{{#each effectParameters}}
		<h3>{{this.label}}</h3>
		<div class="form-group">
			<div class="form-fields">
				<input
					list="{{this.type}}-selections-{{uuid}}"
					id="{{this.type}}-selection-{{uuid}}"
					data-parameter-type="{{this.type}}"
					type="text"
					value=""
					placeholder=""
				/>
				<datalist id="{{this.type}}-selections-{{uuid}}">
					{{#each this.options as |key value|}}
						<option
							data-slug="{{value}}"
							value="{{key}}"
						></option>
					{{/each}}
				</datalist>
			</div>
		</div>
	{{/each}}
</form>
