<div class="light-timer">
	<h3>
		{{localize 'SHADOWDARK.item.light.longevity'}}
	</h3>
	<input
		name="system.light.longevityMins"
		type="number"
		value={{item.system.light.longevityMins}}
		{{#if item.system.light.active}}
			data-tooltip="{{localize 'SHADOWDARK.item.light.in_use_tooltip'}}"
			disabled
		{{/if}}
	>
	{{#if showRemainingMins}}
		<h3>
			{{localize 'SHADOWDARK.item.light.remaining'}}
		</h3>
		<input
			name="system.light.remainingSecs"
			type="number"
			value={{lightRemainingMins}}
			{{#if item.system.light.active}}
				data-tooltip="{{localize 'SHADOWDARK.item.light.in_use_tooltip'}}"
				disabled
			{{/if}}
		>
	{{/if}}
</div>
