<form class="character-generator" autocomplete="off">

<div class="col1">

<h1>Character Generator <a class="fas fa-dice" name="randomize-all" data-action="cg-click"></a></h1>

{{!-- Column 1a --}}
<div class="col1a">



	{{!-- Stats --}}
	<div class="box-style">
		<div class="header">
			<label for="actor.system.stats" >Stats</label>
			<a class="fas fa-dice" name="randomize-stats" data-action="cg-click"></a>
		</div>
		<div class="content">
			<div class="statcontainer">
			{{#each actor.system.abilities as |value key|}}
			<div class="stats">
				<label for="actor.system.abilities.{{key}}.base">{{key}}</label>
				<select name="actor.system.abilities.{{key}}.base" id="stat">
				{{#select value.base}}
					{{#each ../statRange}}
					<option value="{{this}}">{{this}}</option>
					{{/each}}
				{{/select}}
				</select>
				<span>{{numberFormat value.mod decimals=0 sign=true}}</span>
			</div>
			{{/each}}
			</div>
		</div>
	</div>

	{{!-- HP --}}
	<div class="box-style">
		<div class="header">
			<label for="actor.system.attributes.hp.base">{{localize 'SHADOWDARK.sheet.actor.hp'}}</label>
			<a class="fas fa-dice" name="randomize-hp" data-action="cg-click"></a>
		</div>
		<div class="content">
			
			<input type="number" value="{{actor.system.attributes.hp.base}}" name="actor.system.attributes.hp.base" style="width:2em;"/>
			{{numberFormat actor.system.abilities.con.mod decimals=0 sign=true}}
			<span style="float:right;vertical-align: middle;">[{{classHP}}]</span>
		</div>
	</div>

		{{!-- Gold --}}
	<div class="box-style">
		<div class="header">
			<label for="actor.system.coins.gp">Starting Gold</label>
			<a class="fas fa-dice" name="randomize-gold" data-action="cg-click"></a>
		</div>
		<div class="content">
			<input type="number" value="{{actor.system.coins.gp}}" name="actor.system.coins.gp" style="width:2em;"/>
			gp
		</div>
	</div>

</div>
{{!-- Column 1b --}}
<div class="col1b">

	{{!-- Name --}}
	<div class="box-style">
		<div class="header">
			<label for="actor.name">{{localize 'SHADOWDARK.sheet.player.name.label'}}</label>
			<a class="fas fa-dice" name="randomize-name" data-action="cg-click"></a>
		</div>
		<div class="content">
			<input type="text" value="{{actor.name}}" name="actor.name" data-dtype="String"/>
		</div>
	</div>

	{{!-- Ancestry --}}
	<div class="box-style">
		<div class="header">
			<label for="actor.system.ancestry" title="{{localize 'SHADOWDARK.sheet.player.ancestry.tooltip'}}">{{localize 'SHADOWDARK.sheet.player.ancestry.label'}}</label>
			<a class="fas fa-dice" name="randomize-ancestry" data-action="cg-click"></a>
		</div>
		<div class="content">
			<select name="actor.system.ancestry" data-action='load-ancestry' id="ancestry">
			{{#select actor.system.ancestry}}
				<option value=""></option>
				{{#each ancestries as |value key|}}
				<option value="{{value.uuid}}" data-tooltip="{{value.system.description}}">{{value.name}}</option>
				{{/each}}
			{{/select}}
			</select>
		</div>
	</div>

		{{!-- Class --}}
	<div class="box-style">
		<div class="header">
			<label for="actor.system.class" title="{{localize 'SHADOWDARK.sheet.player.class.tooltip'}}">{{localize 'SHADOWDARK.sheet.player.class.label'}}</label>
			<a class="fas fa-dice" name="randomize-class" data-action='cg-click'></a>
		</div>
		<div class="content">
			<select name="actor.system.class" data-action='load-class-talents' id="class">
			{{#select actor.system.class}}
				<option value="{{level0class.uuid}}">{{level0class.name}}</option>
				{{#each classes as |value key|}}
				<option value="{{value.uuid}}">{{value.name}}</option>
				{{/each}}
			{{/select}}
			</select>
		</div>
	</div>

	{{!-- Background --}}
	<div class="box-style">
		<div class="header">
			<label for="actor.system.background" title="{{localize 'SHADOWDARK.sheet.player.background.tooltip'}}">{{localize 'SHADOWDARK.sheet.player.background.label'}}</label>
			<a class="fas fa-dice" name="randomize-background" data-action='cg-click'></a>
		</div>
		<div class="content">
			<select name="actor.system.background" id="background">
			{{#select actor.system.background}}
				<option value=""></option>
				{{#each backgrounds as |value key|}}
				<option value="{{value.uuid}}" title="{{{value.system.description}}}">{{value.name}}</option>
				{{/each}}
			{{/select}}
			</select>
		</div>
	</div>

	{{!-- Alignment --}}
	<div class="box-style">
		<div class="header">
			<label for="actor.system.alignment" >{{localize 'SHADOWDARK.sheet.actor.alignment'}}</label>
			<a class="fas fa-dice" name="randomize-alignment" data-action='cg-click'></a>
		</div>
		<div class="content">
			<select name="actor.system.alignment">
				{{selectOptions alignments selected=actor.system.alignment localize=false}}
			</select>
		</div>
	</div>

	{{!-- Deity --}}
	<div class="box-style">
		<div class="header">
			<label for="actor.system.deity" title="{{localize 'SHADOWDARK.sheet.player.deity.tooltip'}}">{{localize 'SHADOWDARK.sheet.player.deity.label'}}</label>
			<a class="fas fa-dice" name="randomize-deity" data-action='cg-click'></a>
		</div>
		<div class="content">
			<select name="actor.system.deity" id="deity">
			{{#select actor.system.deity}}
				<option value=""></option>
				{{#each deities as |value key|}}
				<option value="{{value.uuid}}" title="{{{value.system.description}}}">{{value.name}} ({{value.system.alignment}})</option>
				{{/each}}
			{{/select}}
			</select>
		</div>
	</div>

</div>

</div>
{{!-- Column 2 --}}
<div class="col2">


	{{!-- Talents --}}
	<div class="box-style ">
		<div class="header">
			<label>Talents</label>
			<span></span>
		</div>
		<div class="content large-style">
			{{#each classTalents as |value key|}}
				<p>
				<b>{{value.name}}.</b>
				{{{value.system.description}}}
				</p>
			{{/each}}
		</div>
	</div>

</div>

<button type="button" data-action="create-character">Create Character</button>
</form>
