<form class="character-generator" autocomplete="off">
	<section>
			<title>Character Generator</title>
	</section>

<div class="flexrow">
<a class="fas fa-dice" data-action='randomize-name'></a>
<label for="actor.name">{{localize 'SHADOWDARK.sheet.player.name.label'}}</label>
<input type="text" value="{{actor.name}}" name="actor.name" data-dtype="String" />
</div>


<label for="actor.system.background" title="{{localize 'SHADOWDARK.sheet.player.background.tooltip'}}">{{localize 'SHADOWDARK.sheet.player.background.label'}}</label>
<select name="actor.system.background" id="background">
{{#select actor.system.background}}
	<option value=""></option>
	{{#each backgrounds as |value key|}}
	<option value="{{value.uuid}}" title="{{{value.system.description}}}">{{value.name}}</option>
	{{/each}}
{{/select}}
</select>


<label for="actor.system.deity" title="{{localize 'SHADOWDARK.sheet.player.deity.tooltip'}}">{{localize 'SHADOWDARK.sheet.player.deity.label'}}</label>
<select name="actor.system.deity" id="deity">
{{#select actor.system.deity}}
	<option value=""></option>
	{{#each deities as |value key|}}
	<option value="{{value.uuid}}" title="{{{value.system.description}}}">{{value.name}}</option>
	{{/each}}
{{/select}}
</select>

<label for="actor.system.alignment" >{{localize 'SHADOWDARK.sheet.actor.alignment'}}</label>
<select name="actor.system.alignment">
	{{selectOptions alignments selected=actor.system.alignment localize=false}}
</select>

<section>
<a class="fas fa-dice" data-action='randomize-abilities'></a>
Stats
<div class="flexrow">
{{#each actor.system.abilities as |value key|}}
<div class="flex1">
	<label for="actor.system.abilities.{{key}}.base" class="stats">{{key}}</label>
	<select name="actor.system.abilities.{{key}}.base" id="stat">
	{{#select value.base}}
		{{#each ../statRange}}
		<option value="{{this}}">{{this}}</option>
		{{/each}}
	{{/select}}
	</select>
	{{value.mod}}
</div>
{{/each}}
</div>
</section>

{{!-- Class --}}
<label for="actor.system.class">Class</label>
<select name="actor.system.class" data-action='load-class-talents' id="class">
{{#select actor.system.class}}
	<option value="{{level0class.uuid}}">{{level0class.name}}</option>
	{{#each classes as |value key|}}
	<option value="{{value.uuid}}">{{value.name}}</option>
	{{/each}}
{{/select}}
</select>

<section>
	Class Talents<br>
	{{#each items.classtalents as |value key|}}
	<a class="content-link" data-uuid="{{value.uuid}}">{{value.name}}</a><br>
	{{/each}}
</section>

{{!-- Ancestry --}}
<label for="actor.system.ancestry">Ancestry</label>
<select name="actor.system.ancestry" data-action='load-ancestry' id="ancestry">
{{#select actor.system.ancestry}}
	<option value=""></option>
	{{#each ancestry as |value key|}}
	<option value="{{value.uuid}}">{{value.name}}</option>
	{{/each}}
{{/select}}
</select>



<button type="button" data-action="create-character"><i class="fas fa-plus"></i>Create Character</button>
</form>
