<form class="level-up" autocomplete="off">
	<h1>{{actor.name}}</h1>
	<h3>Leveling up to level {{targetLevel}}</h3>
	<p></p>
	{{!-- Hit Points --}}
	<div class="box-style">
		<div class="header">
			<label>Hit Points</label>
			<span>{{class.system.hitPoints}}</span>
		</div>
		<div class="content ">
			<button type="button" data-action="roll-hp">Roll HP</button>
		</div>
	</div>

	{{!-- Talents --}}
	<div class="box-style">
		<div class="header">
			<label>Talents</label>
			<span><a class="fas fa-table-list" data-action="view-talent-table"></a></span>
		</div>
		<div class="content talents">
			{{#unless talentGained}}
				No talents gained at this level
			{{/unless}}
			{{#if talentGained}}
				{{#unless rolls.talent}}
					<button type="button" data-action="roll-talent">Roll talent</button>
				{{/unless}}
				{{#if rolls.talent}}
					<fieldset>
					{{#unless talents}}Drag and Drop Talents Here{{/unless}}
					{{#each talents}}
					<div>
						<a class="remove-item fas fa-delete-right" data-action="delete-talent" data-index="{{@index}}"></a>
						<a class="content-link" data-uuid="{{this.uuid}}">{{this.name}}</a>
					</div>
					{{/each}}
					</fieldset>
				{{/if}}
			{{/if}}
		</div>
	</div>

	{{!-- Spells --}}
	{{#if isSpellCaster}}
	<div class="box-style">
		<div class="header">
			<label>Spells</label>
			<span><a class="fas fa-book" data-action="open-spellbook"></a></span>
		</div>
		<div class="content spells">

			{{#each spells}}
			<div class="flexrow">
			<span>{{this.name}}</span>
			<fieldset class="flex3">
				{{#each this.objects}}
					<a class="remove-item fas fa-delete-right" data-action="delete-spell" data-tier="{{@../index}}" data-index="{{@index}}"></a>
					<a class="content-link" data-uuid="{{this.uuid}}">{{this.name}}</a>
				{{/each}}
			</fieldset>
			</div>
			{{/each}}

		</div>
	</div>
	{{/if}}
	<button class="level-up-button" type="button" data-action="finalize-level-up">Level Up!</button>
</form>
