<form class="monster-importer" autocomplete="off">
	<section>
		<div>
			<p>{{localize "SHADOWDARK.apps.monster-importer.instruction1"}}</p>
			<hr />
			<p>
				
				{{localize "SHADOWDARK.apps.monster-importer.instruction2a"}}<br>
				<div style="border:1px solid black;background-color: lightgrey; font-size:0.65em;margin-left:50px;margin-right:50px;">
					{{localize "SHADOWDARK.apps.monster-importer.instruction2b"}}<br>
					<i>{{localize "SHADOWDARK.apps.monster-importer.instruction2c"}}</i><br>
					{{localize "SHADOWDARK.apps.monster-importer.instruction2d"}}<br>
					{{localize "SHADOWDARK.apps.monster-importer.instruction2e"}} 1 <br>
					<br>
					{{localize "SHADOWDARK.apps.monster-importer.instruction2e"}} 2	<br>
					<br>
					{{localize "SHADOWDARK.apps.monster-importer.instruction2e"}} N
				</div>
			</p>
			<textarea name="monsterText" style="height:300px;"></textarea>
			<hr />
			<p>{{localize "SHADOWDARK.apps.monster-importer.instruction3"}}</p>
		</div>
	</section>
	<footer class="sheet-footer flexrow">
		<button class="import">
			{{localize "SHADOWDARK.apps.monster-importer.import_button"}}
		</button>
	</footer>
</form>
