<form class="" autocomplete="off">
	<h1 class="centered">{{localize "SHADOWDARK.apps.shadowdarkling-importer.header"}}</h1>
	{{#if actor.name}}
		<div class="SD-banner">{{actor.name}}</div>
		<div class="grid-2-columns" style="margin:10px;">
			<div>
				<div>
					<h3>{{uuidToName actor.system.ancestry}}</h3>
				</div>
				<div>
					<h3>{{uuidToName actor.system.class}}</h3>
				</div>
				<div>
					<h3>{{localize "SHADOWDARK.item.level"}}</h3>
					{{actor.system.level.value}}
				</div>
				<div>
					<h3>{{localize "SHADOWDARK.sheet.player.xp"}}</h3>
					{{actor.system.level.xp}}
				</div>
				<div>
					<h3>{{localize "SHADOWDARK.sheet.actor.hp"}}</h3>
					{{actor.system.attributes.hp.value}} / {{actor.system.attributes.hp.max}}
				</div>
				<div>
					<h3>{{localize "SHADOWDARK.coins.gp"}}</h3>
					{{actor.system.coins.gp}}
				</div>
			</div>

			<div>
				{{#if errors.actor}}
					<ol class="SD-list item-list">
						<li class="header">
							<div style="flex:1">Error: Details Not Found</div>
						</li>
						{{#each errors.actor}}
							<li>
								{{.}}
							</li>
						{{/each}}
					</ol>
				{{/if}}
				<br>
				{{#if errors.gear}}
					<ol class="SD-list item-list">
						<li class="header">
							<div style="flex:1">Error: Gear Not Found</div>
						</li>
						{{#each errors.gear}}
							<li>
								{{.}}
							</li>
						{{/each}}
					</ol>
				{{/if}}
				<br>
				{{#if errors.spells}}
					<ol class="SD-list item-list">
						<li class="header">
							<div style="flex:1">Error: Spells Not Found</div>
						</li>
						{{#each errors.spells}}
							<li>
								{{.}}
							</li>
						{{/each}}
					</ol>
				{{/if}}
			</div>
		</div>
		<br>
		<button class="import">
			{{localize "SHADOWDARK.apps.shadowdarkling-importer.import_button"}} {{actor.name}}
		</button>
	{{else}}
		<div>{{localize "SHADOWDARK.apps.shadowdarkling-importer.instruction1"}}</div>
		<fieldset class="centered">Paste Character Here</fieldset>
	{{/if}}
</form>
