<form class="shadowdarkling-importer" autocomplete="off">
	<section>
		<div>
			<p>{{localize "SHADOWDARK.apps.shadowdarkling-importer.instruction1"}}</p>
			<button class="open-generator">
				{{localize "SHADOWDARK.apps.shadowdarkling-importer.open-generator"}}
			</button>
			<hr />
			<p>{{localize "SHADOWDARK.apps.shadowdarkling-importer.instruction2"}}</p>
			<hr />
			<p>{{localize "SHADOWDARK.apps.shadowdarkling-importer.instruction3"}}</p>
			<textarea name="json"></textarea>
			<hr />
			<p>{{localize "SHADOWDARK.apps.shadowdarkling-importer.instruction4"}}</p>
		</div>
	</section>
	<footer class="sheet-footer flexrow">
		<button class="import">
			{{localize "SHADOWDARK.apps.shadowdarkling-importer.import_button"}}
		</button>
	</footer>
</form>
