<form autocomplete="off">

	<h1 class="centered">{{localize "SHADOWDARK.apps.solodark.oracle"}}</h1>

	<div class="grid-3-columns centered">
		<h3 class="grid-colspan-3 ">{{localize "SHADOWDARK.apps.solodark.question1"}}</h3>
		<textarea
		class="grid-colspan-3 "
			name="question"
			placeholder="{{localize "SHADOWDARK.apps.solodark.phrasing"}}"
			rows="4"
		></textarea>
		<h3 class="grid-colspan-3 centered">{{localize "SHADOWDARK.apps.solodark.question2"}}</h3>
		<button name="dis">{{localize "SHADOWDARK.apps.solodark.button1"}}</button>
		<button name="even">{{localize "SHADOWDARK.apps.solodark.button2"}}</button>
		<button name="adv">{{localize "SHADOWDARK.apps.solodark.button3"}}</button>
	</div>
</form>
