<div class="flexrow" style="flex: 1; align-items: stretch; gap: 10px;">
	<div style="width: 250px; flex: none; padding: 4px 0;">
		<p>{{localize "SHADOWDARK.apps.spell-importer.instruction1"}}</p>
		<hr />
		<p>{{localize "SHADOWDARK.apps.spell-importer.instruction2a"}}</p>
		<blockquote style="font-size: 0.85em; opacity: 0.8;">
			{{localize "SHADOWDARK.apps.spell-importer.instruction2b"}}<br>
			<i>{{localize "SHADOWDARK.apps.spell-importer.instruction2c"}}</i><br>
			<strong>{{localize "SHADOWDARK.apps.spell-importer.instruction2d"}}</strong><br>
			<strong>{{localize "SHADOWDARK.apps.spell-importer.instruction2e"}}</strong><br>
			{{localize "SHADOWDARK.apps.spell-importer.instruction2f"}}
		</blockquote>
		<hr />
		<p>{{localize "SHADOWDARK.apps.spell-importer.instruction3"}}</p>
		<button type="submit">{{localize "SHADOWDARK.apps.spell-importer.import_button"}}</button>
	</div>
	<div class="flex1" style="display: flex; flex-direction: column;">
		<textarea name="spellText" style="flex: 1; width: 100%; resize: none;"></textarea>
	</div>
</div>
