<form class="spell-importer" autocomplete="off">
	<section>
		<div>
			<p>{{localize "SHADOWDARK.apps.spell-importer.instruction1"}}</p>
			<hr />
			<p>
				
				{{localize "SHADOWDARK.apps.spell-importer.instruction2a"}}<br>
				<div style="border:1px solid black;background-color: lightgrey; font-size:0.65em;margin-left:50px;margin-right:50px;">
					{{localize "SHADOWDARK.apps.spell-importer.instruction2b"}}<br>
					<i>{{localize "SHADOWDARK.apps.spell-importer.instruction2c"}}</i><br>
					<strong>{{localize "SHADOWDARK.apps.spell-importer.instruction2d"}}</strong><br>
					<strong>{{localize "SHADOWDARK.apps.spell-importer.instruction2e"}}</strong><br>
					{{localize "SHADOWDARK.apps.spell-importer.instruction2f"}}
				</div>
			</p>
			<textarea name="spellText" style="height:300px;"></textarea>
			<hr />
			<p>{{localize "SHADOWDARK.apps.spell-importer.instruction3"}}</p>
		</div>
	</section>
	<footer class="sheet-footer flexrow">
		<button class="import">
			{{localize "SHADOWDARK.apps.spell-importer.import_button"}}
		</button>
	</footer>
</form>
