<form class="spell-book" autocomplete="off">
	<h2>{{class.name}} {{localize "SHADOWDARK.sheet.player.tab.spells"}}</h2>
<table>
<tbody>
{{#each spellList}}
	<tr>
	<th colspan="3">
		{{localize "SHADOWDARK.item.spell_tier"}}
		{{@key}}
		{{localize "SHADOWDARK.sheet.player.tab.spells"}}
	</th>
	</tr>
	<tr>
		<td><b>{{localize "SHADOWDARK.item.spell.label"}}</b></td>
		<td><b>{{localize 'SHADOWDARK.item.spell_duration'}}</b></td>
		<td><b>{{localize 'SHADOWDARK.item.spell_range'}}</b></td>
	</tr>
	{{#each .}}
	<tr class="item nameRow" data-key1="{{@../key}}" data-key2="{{@key}}" data-uuid="{{this.uuid}}" data-action="show-description" draggable="true">
		<td class="flex3">
			<div class="item-image" style="background-image: url({{this.img}})"></div>
			<a>{{this.name}}</a>
			{{#if (hasspell this.name)}}<span style="font-size:0.75em">[{{localize "SHADOWDARK.apps.spell-book.known"}}]</span>{{/if}}
		</td>
		<td class="flex0">{{getSpellDuration
					this.system.duration.type
					this.system.duration.value
		}}</td>
		<td class="flex0">{{fromConfig "SPELL_RANGES" this.system.range}}</td>
	</tr>
	{{/each}}
{{/each}}
</tbody>
</table>
</form>
