{{!-- Character Details --}}
<div class="box-style ">
    <div class="header">
        <label>Details</label>
        <span></span>
    </div>
    <div class="content large-style">

        {{!-- Choice Ancestry Talents --}}
        {{#if ancestryTalents.choice}}
            {{#if ancestryTalents.selection}}
                <p><a class="fas fa-pen-to-square" data-action='clear-ancestry-talents'></a>
                {{#each ancestryTalents.selection as |value key|}}
                    <b>{{value.name}}.</b>
                    {{{value.formattedDescription}}}
                {{/each}}
                </p>
            {{/if}}
            {{#unless ancestryTalents.selection}}
                <fieldset>
                <legend>Choose:</legend>
                {{#each ancestryTalents.choice as |value key|}}
                    <input type="radio" name="ancestryTalents.selected" value="{{value.uuid}}">
                    <b>{{value.name}}.</b>
                    {{{value.formattedDescription}}}
                    {{#unless @last}}<br>{{/unless}}
                {{/each}}
                </fieldset>
            {{/unless}}
        {{/if}}

        {{!-- Fixed Ancestry Talents --}}
        {{#if ancestryTalents.fixed}}
            <p>
            {{#each ancestryTalents.fixed as |value key|}}
                <b>{{value.name}}.</b>
                {{{value.formattedDescription}}}
            {{/each}}
            </p>
        {{/if}}

        {{!-- Weapons --}}
        {{#if weapons}}
            <p><b>Weapons: </b>
            {{#each weapons as |name index|}}
                {{name}}{{#unless @last}}, {{/unless}}
            {{/each}}
            </p>
        {{/if}}

        {{!-- Armor --}}
        {{#if armor}}<p><b>Armor: </b>
            {{#each armor as |name index|}}
                {{name}}{{#unless @last}}, {{/unless}}
            {{/each}}
            </p>
        {{/if}}

        {{!-- Languages --}}
        {{#unless langData.edit}}
            <p>
                {{#if langData.togglable}}
                    <a class="fas fa-pen-to-square" data-action='edit-languages'></a>
                {{/if}}
                <b>Languages. </b>
                {{#each actor.system.languages}}
                    {{lookup ../languages .}}{{#unless @last}}, {{/unless}}
                {{/each}}
            </p>
        {{/unless}}
        {{#if langData.edit}}
            <fieldset>
            <legend>
                <a class="fas fa-square-xmark" data-action='edit-languages'></a>
                <b> Languages</b>
            </legend>
            {{#each langData.fixed as |value key|}}
                {{lookup ../languages .}}{{#unless @last}}, {{/unless}}
            {{/each}}

            {{#if langData.ancestry.select}}
            <hr>
                {{> cg-language-choice 
                    value=langData.ancestry
                    label=""
                    key="ancestry"
                }}
            {{/if}}

            {{#if langData.class.select}}
            <hr>
                {{> cg-language-choice 
                    value=langData.class
                    label=""
                    key="class"
                }}
            {{/if}}

            {{#if langData.common.select}}
            <hr>
                {{> cg-language-choice 
                    value=langData.common
                    label="Common"
                    key="common"
                }}
            {{/if}}
            
            {{#if langData.rare.select}}
            <hr>
                {{> cg-language-choice 
                    value=langData.rare
                    label="Rare"
                    key="rare"
                }}
            {{/if}}
            </fieldset>
        {{/if}}

        {{!-- Choice Class Talents --}}
        {{#if classTalents.choice}}
            {{#if classTalents.selection}}
                <p><a class="fas fa-pen-to-square" data-action='clear-class-talents'></a>
                {{#each classTalents.selection as |value key|}}
                    <b>{{value.name}}.</b>
                    {{{value.formattedDescription}}}
                {{/each}}
                </p>
            {{/if}}
            {{#unless classTalents.selection}}
                <fieldset>
                <legend>Choose:</legend>
                {{#each classTalents.choice as |value key|}}
                    <input type="radio" name="classTalents.selected" value="{{value.uuid}}">
                    <b>{{value.name}}.</b>
                    {{{value.formattedDescription}}}
                    {{#unless @last}}<br>{{/unless}}
                {{/each}}
                </fieldset>
            {{/unless}}
        {{/if}}

        {{!-- Fixed Class Talents --}}
        {{#each classTalents.fixed as |value key|}}
        <p>
            <b>{{value.name}}. </b>
            {{{value.formattedDescription}}}
        </p>
        {{/each}}

        {{!-- Level 0 Gear --}}
        {{#if level0}}
            <p><b>Starting Gear: </b><br>
            {{#each gearSelected as |value key|}}
                {{value.name}}
                {{#unless @last}}<br>{{/unless}}
            {{/each}}
            </p>
        {{/if}}
    </div>
</div>