<div class="grid-1-columns">

	<!-- Effect Selector -->
	<div style="margin:4px;">
		<h3>{{localize "SHADOWDARK.item.effect.pre-defined.title"}}</h3>
		<input
			style="width:auto"
			name="system.predefinedEffects"
			list="predefined-effects-list"
			type="text"
			value=""
			placeholder="{{localize "SHADOWDARK.dialog.type_here"}}"
			{{#if (not @root.effectsEditable)}}disabled{{/if}}
		/>
		<datalist id="predefined-effects-list">
		{{#each predefinedEffects}}
			<option value="{{this.key}}" label="{{this.name}}"></option>
		{{/each}}
		</datalist>
	</div>

	<div class="SD-banner">{{localize "SHADOWDARK.sheet.item.tab.effects"}}</div>

	<ol class="SD-list">
		<li class="header">
			{{#if @root.effectsEditable}}
				<a
					class="item-image fa-solid fa-square-plus"
					style="padding:4px"
					data-action="effect-create"
				></a>
			{{/if}}
			<div class="item-name">
				{{localize "SHADOWDARK.item.effect.category.effect"}}
			</div>
			<div class="item-name" style="flex:2;">
				{{localize "SHADOWDARK.effect.header.changes"}}
			</div>
			<div class="actions"></div>
		</li>

		{{#each effects as |effect|}}
		<li class="item" data-effect-id="{{effect.id}}">

			<div class="item-image"><img src="{{activeEffectIcon effect}}"></div>

			<div class="item-name">{{#if (not effect.name)}}{{effect.label}}{{else}}{{effect.name}}{{/if}}</div>

			<div class="effect-list-changes">
				{{#each effect.changes as |change|}}
					<span title="{{fromConfig "EFFECT_TRANSLATIONS" change.key}}">
						{{fromConfig "EFFECT_TRANSLATIONS" change.key}}
					</span>
					<input
						name="{{change.key}}"
						type="text"
						id="effect-change-value"
						value="{{change.value}}"
						placeholder="0"
						{{#if (not @root.effectsEditable)}}disabled{{/if}}
					>
				{{/each}}
			</div>

			<div class="actions">
				{{#if @root.effectsEditable}}
					<a
						class="fas fa-circle-{{#if effect.disabled}}xmark{{else}}check{{/if}}"
						{{#unless effect.disabled}}style="color:var(--primary);"{{/unless}}
						data-action="effect-activate"
						data-tooltip="{{localize "SHADOWDARK.effect.header.toggle_active"}}">
					</a>
					<a
						class="fas fa-edit"
						data-action="effect-edit"
						data-tooltip="{{localize "SHADOWDARK.effect.header.edit"}}">
					</a>
					<a
						class="fas fa-trash"
						data-action="effect-delete"
						data-tooltip="{{localize "SHADOWDARK.effect.header.delete"}}">
					</a>

				{{/if}}
			</div>

		</li>
		{{/each}}

	</ol>
</div>

