<div class="SD-banner grid-colspan-3">{{localize 'SHADOWDARK.form.section_header.languages.label'}}</div>

{{#> ui/sd-box
	header-label=(localize 'SHADOWDARK.ancestry.fixed')
	header-class="light"
}}
	{{>
		items/partials/choice-selector
		config=fixedLanguagesConfig
		editable=editable
	}}
{{/ui/sd-box}}

{{#> ui/sd-box
	header-label=(localize 'SHADOWDARK.ancestry.choice')
	header-class="light"
}}
	{{>
		items/partials/choice-selector
		config=languageChoicesConfig
		editable=editable
	}}


{{/ui/sd-box}}

{{#> ui/sd-box
	header-label=""
	header-class="light"
	content-class="item-grid right"
}}
	<h3>{{localize 'SHADOWDARK.ancestry.choice_count'}}</h3>
	{{numberInput
		item.system.languages.select
		name="system.languages.select"
		placeholder="0"
	}}

	<h3>{{localize 'SHADOWDARK.language_choices.common.label'}}</h3>
	{{numberInput
		item.system.languages.common
		name="system.languages.common"
		placeholder="0"
	}}

	<h3>{{localize 'SHADOWDARK.language_choices.rare.label'}}</h3>
	{{numberInput
		item.system.languages.rare
		name="system.languages.rare"
		placeholder="0"
	}}
{{/ui/sd-box}}

<div class="SD-banner grid-colspan-3">{{localize 'SHADOWDARK.form.section_header.talents.label'}}</div>

<!-- TODO properly implement fixed talents here.-->
<div></div>

<!-- choice talents-->
{{#> ui/sd-box
	header-label="Choice"
	header-class="light"
}}

	{{>
		items/partials/choice-selector
		config=talentsConfig
		editable=editable
	}}

{{/ui/sd-box}}

<!-- talents options-->
{{#> ui/sd-box
	header-label=""
	header-class="light"
	content-class="item-grid right"
}}
	<h3>{{localize "SHADOWDARK.ancestry.choice_count"}}</h3>
	{{numberInput
		item.system.talentChoiceCount
		name="system.talentChoiceCount"
		placeholder="0"
	}}
{{/ui/sd-box}}

<div class="SD-banner grid-colspan-3">{{localize "SHADOWDARK.apps.character-generator.title"}}</div>

<div class=" grid-colspan-3 grid-2-columns">
	{{#> ui/sd-box
		header-label=(localize "SHADOWDARK.ancestry.nametable.label")
		header-class="light"
	}}
		<select name="system.nameTable">
			<option value="">&mdash;</option>
			{{selectOptions
				ancestryNameTables
				selected=system.nameTable
				localize=false
			}}
		</select>
	{{/ui/sd-box}}

	{{#> ui/sd-box
		header-label=""
		header-class="light"
		content-class="item-grid right"
	}}
		<h3 title="{{localize "SHADOWDARK.ancestry.tooltip.weight"}}">
			{{localize "SHADOWDARK.ancestry.nametable.random_weight"}}
		</h3>
		{{numberInput
			item.system.randomWeight
			name="system.randomWeight"
			placeholder="1"
		}}
	{{/ui/sd-box}}
</div>
