<div class="SD-banner grid-colspan-3">{{localize 'SHADOWDARK.form.section_header.languages.label'}}</div>

{{#> ui/sd-box
	header-label=(localize 'SHADOWDARK.ancestry.languages.label')
	header-class="light"
}}
	{{>
		items/partials/choice-selector
		config=fixedLanguagesConfig
		editable=editable
	}}
{{/ui/sd-box}}

<div>
	{{>
		items/partials/choice-selector
		config=languageChoicesConfig
		editable=editable
	}}

	<h3>{{localize 'SHADOWDARK.class.language_choices.count.label'}}</h3>
	{{numberInput
		item.system.languages.select
		name="system.languages.select"
		placeholder="0"
	}}
</div>

<div class="item-grid">
	<h3>{{localize 'SHADOWDARK.language_choices.common.label'}}</h3>
	{{numberInput
		item.system.languages.common
		name="system.languages.common"
		placeholder="0"
	}}

	<h3>{{localize 'SHADOWDARK.language_choices.rare.label'}}</h3>
	{{numberInput
		item.system.languages.rare
		name="system.languages.rare"
		placeholder="0"
	}}
</div>


<div class="SD-banner grid-colspan-3">{{localize 'SHADOWDARK.form.section_header.talents.label'}}</div>
<div class="grid-2-columns">
	<div>
		{{>
			items/partials/choice-selector
			config=talentsConfig
			editable=editable
		}}
	</div>
	<div>
		<h3>{{localize 'SHADOWDARK.ancestry.talents.count.label'}}</h3>
		{{numberInput
			item.system.talentChoiceCount
			name="system.talentChoiceCount"
			placeholder="0"
		}}
	</div>
</div>

<div class="SD-banner grid-colspan-3">{{localize "SHADOWDARK.apps.character-generator.title"}}</div>

	<div>
		<label title="{{localize "SHADOWDARK.ancestry.tooltip.weight"}}">Random Weight</label>
		{{numberInput
			item.system.randomWeight
			name="system.randomWeight"
			placeholder="1"
		}}
	</div>
	<div style="grid-column: 2 / span 2;">
		<label>{{localize "SHADOWDARK.ancestry.nametable.label"}}</label>
		<div style="background-color: rgba(0, 0, 0, 0.05);">
			{{#unless system.nameTable}}
				{{localize "SHADOWDARK.dragdrop"}}
			{{/unless}}
			{{#if item.system.nameTable}}
				<div style="white-space: nowrap;">
				<a class="fas fa-delete-right" data-action="remove-name-table"></a>
				<a class="content-link" data-uuid="{{item.system.nameTable}}">{{uuidToName item.system.nameTable}}</a>
				</div>
			{{/if}}
		</div>
	</div>
</div>
