<div class="grid-colspan-3 grid-2-columns">
	<div class="SD-box">
		<div class="header light">
			<label>{{localize 'SHADOWDARK.item_type.armor'}}</label>
			<span></span>
		</div>
		<div class="content item-grid">

			<h3>{{localize "SHADOWDARK.item.armor.base_armor.title"}}</h3>
			<select name="system.baseArmor">
				<option value="">&mdash;</option>
				{{selectOptions
					baseArmor
					selected=system.baseArmor
					localize=false
				}}
			</select>

			<h3>{{localize 'SHADOWDARK.item.armor_ac'}}</h3>
			{{numberInput
				system.ac.base
				name="system.ac.base"
				class="ac-value"
				placeholder="0"
			}}

			<h3>{{localize 'SHADOWDARK.item.armor_bonus_attribute'}}</h3>
			<select name="system.ac.attribute">
				<option value="">&mdash;</option>
				{{selectOptions
					config.ARMOR_BONUS_ATTRIBUTES
					selected=system.ac.attribute
					localize=false
				}}
			</select>

			<h3>{{localize 'SHADOWDARK.item.armor_ac_modifier'}}</h3>
			{{numberInput
				system.ac.modifier
				name="system.ac.modifier"
				class="ac-value"
				placeholder="0"
			}}

		</div>
	</div>
	<div class="SD-box">
		<div class="header light">
			<label>{{localize 'SHADOWDARK.item.properties'}}</label>
			<span>
				<a
					class="item-selector"
					data-select-type="itemProperty"
					data-item-type="armor"
					for="system.properties"
				>
					<i class="fa-solid fa-pen-to-square fa-sm"></i>
				</a>
			</span>
		</div>
		<div class="content">
			<ul class="tags">
				{{#each propertyItems}}
					<li
						class="tag tag_primary"
						data-tooltip="{{this.system.description}}"
					>
						{{this.name}}
					</li>
				{{/each}}
			</ul>
		</div>
	</div>
</div>
