<div class="npc-attack-details">
	<div class="npc-attack-detail">
		<label>{{localize 'SHADOWDARK.item.npc_attack_type'}}</label>
		<select name="system.attackType">
			{{selectOptions
				config.NPC_ATTACK_TYPES
				selected=system.attackType
				localize=false
			}}
		</select>
	</div>
</div>
<div class="npc-attack-details">
	<div class="npc-attack-detail">
		<label>{{localize 'SHADOWDARK.item.npc_attack_count'}}</label>
		{{numberInput
			system.attack.num
			name="system.attack.num"
			placeholder="1"
		}}
	</div>
	<div class="npc-attack-detail">
		<label>{{localize 'SHADOWDARK.item.npc_attack_bonus'}}</label>
		{{numberInput
			system.attack.bonus
			name="system.attack.bonus"
			placeholder="1"
		}}
	</div>
	<div class="npc-attack-detail">
		<label>{{localize 'SHADOWDARK.item.npc_attack_damage'}}</label>
		<select name="system.damage.value">
			<option value="">&mdash;</option>
			{{selectOptions
				config.WEAPON_BASE_DAMAGE
				selected=system.damage.value
				localize=false
			}}
		</select>
	</div>
	<div class="npc-attack-detail">
		<label>{{localize 'SHADOWDARK.item.npc_attack_damage_bonus'}}</label>
		{{numberInput
			system.damage.bonus
			name="system.damage.bonus"
			placeholder="0"
		}}
	</div>
	<div class="npc-attack-detail">
		<label>{{localize 'SHADOWDARK.item.npc_attack_special'}}</label>
		<input
			name="system.damage.special"
			type="text"
			value="{{item.system.damage.special}}"
		/>
	</div>
</div>

