<div>
	<div class="item-grid right">

		<h3>{{localize 'SHADOWDARK.item.npc_attack_count'}}</h3>
		<input
			name="system.attack.num"
			type="text"
			value="{{item.system.attack.num}}"
		/>

		<h3>{{localize 'SHADOWDARK.item.npc_attack_damage_formula'}}</h3>
		<input
			name="system.damage.value"
			type="text"
			value="{{item.system.damage.value}}"
		/>

		<h3>{{localize 'SHADOWDARK.item.npc_attack_bonus'}}</h3>
		{{numberInput
			system.bonuses.attackBonus
			name="system.bonuses.attackBonus"
			placeholder="1"
		}}

		<h3>{{localize 'SHADOWDARK.item.effect.predefined_effect.critMultiplier'}}</h3>
		{{numberInput
			system.bonuses.critical.multiplier
			name="system.bonuses.critical.multiplier"
			placeholder="2"
		}}
	</div>


	<h3>{{localize 'SHADOWDARK.app.npc_attack_ranges.title'}}</h3>
	<a
		class="properties-list"
		data-action="npc-attack-ranges"
	>
		{{npcAttackRangesDisplay}}
	</a>

	<h3>{{localize 'SHADOWDARK.item.npc_attack_special'}}</h3>
	<input
		style="text-align: left;"
		name="system.damage.special"
		type="text"
		value="{{item.system.damage.special}}"
	/>
</div>
