<div class="effects talent-details">
{{#each effects.talent.effects as |effect|}}
<li class="item effect-row" data-effect-id="{{effect.id}}">
  <div class="effect-header">
    <article class="effect-header-icon"></article>
    <article class="effect-header-name">{{localize "SHADOWDARK.effect.header.name"}}</article>
    <article class="effect-header-active">{{localize "SHADOWDARK.effect.header.active"}}</article>
    <article class="effect-header-edit">{{localize "SHADOWDARK.effect.header.edit"}}</article>
    <article class="effect-header-delete">{{localize "SHADOWDARK.effect.header.delete"}}</article>
    <article class="effect-header-data" style="grid-template-columns: repeat({{effect.changes.length}}, 1fr)">
      {{#each effect.changes as |change|}}
      <article class="effect-header-data-key">{{fromConfig "TALENT_PROPERTIES" change.key}}</article>
      {{/each}}
    </article>
  </div>

  <div class="effect-data">
    <article class="effect-icon">
      <img src="{{effect.icon}}" />
    </article>
    <article class="effect-name">
      {{fromConfig "TALENT_TYPES" effect.label}}
    </article>
    <article class="effect-active">
      <a class="effect-control" data-action="activate" data-tooltip="SHADOWDARK.effect.activate">
        <i class="fas fa-{{#if effect.disabled}}circle-xmark{{else}}circle-check{{/if}}"></i>
      </a>
    </article>
    <article class="effect-edit">
      {{#if @root.editable}}
      <a class="effect-control" data-action="edit" data-tooltip="SHADOWDARK.effect.edit">
        <i class="fas fa-edit"></i>
      </a>
      {{/if}}
    </article>
    <article class="effect-delete">
      {{#if @root.editable}}
      <a class="effect-control" data-action="delete" data-tooltip="SHADOWDARK.effect.delete">
        <i class="fas fa-trash"></i>
      </a>
      {{/if}}
    </article>
    <article class="effect-data" style="grid-template-columns: repeat({{effect.changes.length}}, 1fr)">
      {{#each effect.changes as |change|}}
      {{numberInput
        change.value
        name=change.key
        class="talent-option-data"
        placeholder="0"
      }}
      {{/each}}
    </article>
  </div>
</li>
{{/each}}
</div>

