<b>{{{numAttacks}}} <a data-action="item-use-ability" data-item-id="{{itemId}}">{{attackName}}</b>{{#if ranges}} ({{ranges}}){{/if}}{{#if attackBonus}} +{{attackBonus}}{{/if}}. {{{description}}}</a>
