<a
	class="rollable"
	data-action="item-attack"
	data-item-id="{{weaponId}}"
>
	<i class="fa-solid fa-dice-d20"></i>
	<b style="font-size:16px">{{weaponName}}</b>
</a>
({{handedness}}),
{{numberFormat attackBonus decimals=0 sign=true}}
({{attackRange}}),
{{baseDamage}}{{#ifCond bonusDamage '!=' 0}}{{numberFormat bonusDamage decimals=0 sign=true}}{{/ifCond}}{{#ifCond extraDamageDice '!==' ''}}+{{extraDamageDice}}{{/ifCond}}{{#ifCond properties '!==' ''}}, {{properties}}{{/ifCond}}
