<p>
	<b>{{localize 'SHADOWDARK.item.armor_class'}}</b> <em>{{item.system.ac.base}}{{#if item.system.ac.modifier}}{{numberFormat item.system.ac.modifier decimals=0 sign=true}}{{/if}}</em>
</p>
<p>
	{{#if item.system.ac.attribute}}
	<b>{{localize 'SHADOWDARK.item.armor_bonus_attribute'}}</b> <em>{{fromConfig "ABILITIES_LONG" item.system.ac.attribute}}</em>
	{{/if}}
</p>
<p>
	{{#if item.system.baseArmor}}
	<b>{{localize 'SHADOWDARK.item.armor.base_armor.title'}}</b> <em>{{baseItemName}}</em>
	{{/if}}
</p>
<div class="details-description">
	{{{description}}}
</div>
<footer class="details-footer">
	<ul class="tags">
		{{#each itemProperties}}
			<li class="tag tag_primary tag_small">
				{{this.name}}
			</li>
		{{/each}}
		{{#if item.system.stashed}}
			<li class="tag tag_secondary tag_small">
				{{localize 'SHADOWDARK.item.stashed.label'}}
			</li>
		{{/if}}
	</ul>
</footer>
