<p>
	<b>{{localize "SHADOWDARK.item.spell_tier"}}</b> {{item.system.tier}},
	<b>{{localize "SHADOWDARK.item.spell_class"}}</b> <em>{{joinStrings item.system.class}}</em>
</p>
<p>
	<b>{{localize 'SHADOWDARK.item.spell_range'}}</b> {{item.system.range}}
</p>
<p>
	<b>{{localize 'SHADOWDARK.item.spell_duration'}}</b>
	{{#if item.system.duration.value}}
		{{item.system.duration.value}}
	{{/if}}
	{{item.system.duration.type}}
</p>
<div class="details-description">
	{{{description}}}
</div>
<div class="grid-2-columns">
	<button
		class="item-control"
		data-actor-id="{{actor._id}}"
		data-item-id="{{item._id}}"
		data-action="cast-spell"
	>
		{{localize 'SHADOWDARK.chat_card.button.cast_spell'}}
	</button>
	<button
		class="item-control"
		data-actor-id="{{actor._id}}"
		data-item-id="{{item._id}}"
		data-action="learn-spell"
	>
		{{localize 'SHADOWDARK.chat_card.button.learn_spell'}}
	</button>
</div>
