<p>
	<b>Tier</b> {{item.system.tier}},
	<b>Class</b> <em>{{joinStrings item.system.class}}</em>
</p>
<p>
	<b>Range</b> {{item.system.range}}
</p>
<p>
	<b>Duration</b>
	{{#if item.system.duration.value}}
		{{item.system.duration.value}}
	{{/if}}
	{{item.system.duration.type}}
</p>
{{{description}}}
<button
	class="item-control"
	data-actor-id="{{actor._id}}"
	data-item-id="{{item._id}}"
	data-action="cast-spell"
>
	{{localize 'SHADOWDARK.chat_card.button.cast_spell'}}
</button>
