<p>
	<b>{{localize "SHADOWDARK.item.spell_class"}}</b> <em>{{spellClasses}}</em>
</p>
<div class="details-description">
	{{{description}}}
</div>
{{#if canUseMagicItems}}
	{{#unless item.system.stashed}}
		<button
			class="item-control"
			data-actor-id="{{actor._id}}"
			data-item-id="{{item._id}}"
			data-action="cast-spell"
		>
			{{localize 'SHADOWDARK.chat_card.button.use_wand'}}
		</button>
	{{/unless}}
{{/if}}
<footer class="details-footer">
	<ul class="tags">
		<li class="tag tag_primary tag_small">
			{{localize "SHADOWDARK.item.spell_tier"}}
			{{ item.system.tier }}
		</li>
		<li class="tag tag_secondary tag_small">
			{{localize "SHADOWDARK.item.spell_duration"}}:
			{{getSpellDuration
				item.system.duration.type
				item.system.duration.value
			}}
		</li>
		<li class="tag tag_secondary tag_small">
			{{localize "SHADOWDARK.item.spell_range"}}:
			{{fromConfig "SPELL_RANGES" item.system.range }}
		</li>
		{{#if item.system.stashed}}
			<li class="tag tag_secondary tag_small">
				{{localize 'SHADOWDARK.item.stashed.label'}}
			</li>
		{{/if}}
	</ul>
</footer>
