<div class="abilities-grid">
	<div class="ability-scores">
		{{#each actor.system.abilities as |ability id|}}
			<div class="value-box ability" data-ability="{{id}}">
				<label
					for="{{concat "system.abilities." id ".value"}}"
					class="ability-name rollable"
					data-ability="{{id}}"
				>
					{{ability.label}}
				</label>
				<div class="ability-score">
					{{numberInput
						ability.mod
						name=(concat "system.abilities." id ".mod")
						class="ability-score" placeholder="0"
					}}
				</div>
			</div>
		{{/each}}
		{{> actors/npc/hp.hbs }}
		{{> actors/npc/ac.hbs }}
	</div>
	{{!-- {{> actors/player/abilities/attacks.hbs }} --}}
</div>
