<div
	class="shadowdark chat-card item-card"
	data-actor-id="{{actor.id}}"
	data-item-id="{{item._id}}"
>
	<header class="card-header flexrow">
		<img src="{{item.img}}" data-tooltip="{{item.name}}"/>
		<h3 class="item-name">{{item.name}}</h3>
	</header>

	<div class="card-content">
		<p>
			<b>{{localize "SHADOWDARK.item.spell_class"}}</b> <em>{{spellClasses}}</em>
		</p>
		<h3>{{item.system.spellName}}</h3>
		{{{description}}}
	</div>

	<div class="chat-card-buttons {{#if isSpellcaster}}grid-2-columns{{/if}}">
		{{#unless item.system.stashed}}
			{{#if canUseMagicItems}}
				<button
					class="item-control"
					data-actor-id="{{actor.id}}"
					data-item-id="{{item._id}}"
					data-action="cast-spell"
				>
					{{localize 'SHADOWDARK.chat_card.button.use_scroll'}}
				</button>
			{{/if}}
			{{#if isSpellcaster}}
				<button
					class="item-control"
					data-actor-id="{{actor.id}}"
					data-item-id="{{item._id}}"
					data-action="learn-spell"
				>
					{{localize 'SHADOWDARK.chat_card.button.learn_spell'}}
				</button>
			{{/if}}
		{{/unless}}
	</div>

	<footer class="card-footer">
		<ul class="tags">
			<li class="tag tag_primary tag_small">
				{{localize "SHADOWDARK.item.spell_tier"}}
				{{ item.system.tier }}
			</li>
			<li class="tag tag_secondary tag_small">
				{{localize "SHADOWDARK.item.spell_duration"}}:
				{{getSpellDuration
					item.system.duration.type
					item.system.duration.value
				}}
			</li>
			<li class="tag tag_secondary tag_small">
				{{localize "SHADOWDARK.item.spell_range"}}:
				{{fromConfig "SPELL_RANGES" item.system.range }}
			</li>
			{{#if item.system.stashed}}
				<li class="tag tag_secondary tag_small">
					{{localize 'SHADOWDARK.item.stashed.label'}}
				</li>
			{{/if}}
		</ul>
	</footer>
</div>
