<div
	class="shadowdark chat-card item-card"
	data-actor-id="{{actor._id}}"
	data-item-id="{{item._id}}"
>
	<header class="card-header flexrow">
		<img src="{{item.img}}" data-tooltip="{{item.name}}"/>
		<h3 class="item-name">{{item.name}}</h3>
	</header>

	<div class="card-content">
		<p>
			<b>{{localize 'SHADOWDARK.item.weapon_type'}}</b> <em>{{fromConfig "WEAPON_TYPES" item.system.type}}</em>,
			<b>{{localize 'SHADOWDARK.item.weapon_range'}}</b> <em>{{fromConfig "RANGES" item.system.range}}</em>
		</p>
		{{#if item.system.damage.oneHanded}}
			<p>
				<b>{{localize 'SHADOWDARK.item.weapon_damage.oneHanded'}}</b> <em>{{fromConfig "WEAPON_BASE_DAMAGE" item.system.damage.oneHanded}}</em>
			</p>
		{{/if}}
		{{#if item.system.damage.twoHanded}}
			<p>
				<b>{{localize 'SHADOWDARK.item.weapon_damage.twoHanded'}}</b> <em>{{fromConfig "WEAPON_BASE_DAMAGE" item.system.damage.twoHanded}}</em>
			</p>
		{{/if}}
		{{#if item.system.baseWeapon}}
			<p>
				<b>{{localize 'SHADOWDARK.item.weapon.base_weapon.title'}}</b> <em>{{baseItemName}}</em>
			</p>
		{{/if}}
		{{{description}}}
	</div>

	<div class="chat-card-buttons">
		{{#unless item.system.stashed}}
			<button
				class="item-control"
				data-actor-id="{{actor.id}}"
				data-item-id="{{item._id}}"
				data-action="roll-attack"
			>
				{{localize 'SHADOWDARK.chat_card.button.attack'}}
			</button>
		{{/unless}}
	</div>

	<footer class="card-footer">
		<ul class="tags">
			{{#each itemProperties}}
				<li class="tag tag_primary tag_small">
					{{this.name}}
				</li>
			{{/each}}
			{{#if item.system.stashed}}
				<li class="tag tag_secondary tag_small">
					{{localize 'SHADOWDARK.item.stashed.label'}}
				</li>
			{{/if}}
		</ul>
	</footer>
</div>
