{{#unless isSpellsTab}}
	{{{itemDescription}}}
{{/unless}}
{{#if item.system.identification.identified }}
	{{#each spells }}
		<p>
			{{#unless ../isSpellsTab}}
				<b>
					{{this.name}} •
				</b>
			{{/unless}}
			<em>
				{{localize "SHADOWDARK.item.spell_class"}}: {{this.spellClasses}}
			</em>
		</p>
		<div class="details-description">
			{{{this.spellDescription}}}
		</div>
		<footer class="details-footer">
			<ul class="tags">
				<li class="tag tag_primary tag_small">
					{{localize "SHADOWDARK.item.spell_tier"}}
					{{this.system.tier}}
				</li>
				<li class="tag tag_secondary tag_small">
					{{localize "SHADOWDARK.item.spell_duration"}}:
					{{getSpellDuration
						this.system.duration.type
						this.system.duration.value
					}}
				</li>
				<li class="tag tag_secondary tag_small">
					{{localize "SHADOWDARK.item.spell_range"}}:
					{{fromConfig "SPELL_RANGES" this.system.range }}
				</li>
			</ul>
		</footer>
	{{/each}}
{{/if}}
